<footer class="footer">
     <div class="col-12 py-1 text-center">
        <div class="flex-center">
          <a class="fb-ic footer__link" href="https://www.facebook.com/ClubABrown/" target="_blank" >
            <i class="fab fa-facebook-f fa-lg text-white mr-md-5 mr-3 fa-2x footer__link__icon"> </i>
          </a>
          <a class="tw-ic footer__link" href="https://twitter.com/BrownSanVicente/" target="_blank" >
            <i class="fab fa-twitter fa-lg text-white mr-md-5 mr-3 fa-2x footer__link__icon"> </i>
          </a>
          <a class="li-ic footer__link" href="https://www.youtube.com/user/cabsanvicente/" target="_blank" >
            <i class="fab fa-youtube fa-lg text-white mr-md-5 mr-3 fa-2x footer__link__icon"> </i>
          </a>
          <a class="ins-ic footer__link" href="https://www.instagram.com/brownsanvicente/" target="_blank" >
            <i class="fab fa-instagram fa-lg text-white mr-md-5 mr-3 fa-2x footer__link__icon"> </i>
          </a>
        </div>
    </div> 
    <div class="col-12 footer-title text-center text-white">
      © {{year}} SporTurno
    </div>
  </footer>