<div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="card-title"><strong>Solicitudes </strong></h2>
        </div>
    </div>
</div>
<hr>
<div class="card-body"> 
    <form class="m-t-5 row p-0" [formGroup]="requestForm" autocomplete="off">
        <div class="form-group col-md-3 m-t-5 m-b-5" [class.has-danger]="getFieldValid('section')">
            <label for=""><strong>Tipo</strong></label> <br>
            <select name="" id="" [class.form-control-danger]="getFieldValid('section')" formControlName="section">
                <option value="" hidden>Seleccione</option>
                <option value="1">Deportes</option>
                <option value="2">Características</option>
                <option value="3">Servicios</option>
            </select>
            <div class="form-control-feedback" *ngIf="getFieldValid('section')">*Seleccione el tipo</div>
        </div>
        <div class="form-group col-md-9 m-t-5 m-b-5" [class.has-danger]="getFieldValid('description')">
            <label for=""><strong>Descripción</strong></label>
            <textarea type="text" 
                class="form-control form-control-line"
                placeholder="Ingrese una dirección"
                formControlName="description">
        </textarea>
            <div class="form-control-feedback" *ngIf="getFieldValid('description')">*Ingrese la descripción.</div>
        </div>
    </form>
    <div class="form-group col-md-12 text-center">
        <button (click)="sendRequest()" class="btn btn-info mr-1">Enviar</button>
    </div>            
</div>
<hr>
<div>
    <div class="row">
        <div class="col-md-6">
            <h5 class="card-title"><strong>Realizadas</strong></h5>
        </div>
    </div>
</div>
<div class="col-12 mb-2">
    <div class="row">
      <div class="col-sm-9 col-md-9 p-0">
            <div id="example_filter" class="search-entry">
                <h6 class="pull-left">
                    <strong class="search-title-text">Buscar:</strong>
                    <input type="search" class="" [value]="searchText" placeholder="" #text (keyup.enter)="searchRequests(text.value)" >
                    <i class="fas fa-search pointer" (click)="searchRequests(text.value)"></i>
                </h6>
            </div>
      </div>
      <div class="col-sm-3 col-md-3 p-0">
        <a class="text-info pointer d-flex pull-right entry-button" (click)="refreshTable()">Limpiar</a>
      </div>
    </div>
    <div class="row">
        <article class="filters mt-2">
            <h6 class="pull-left">
                <strong class="search-title-text">Filtrar:</strong>
            </h6>
            <div class="filters__items-container ml-3">
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuSection">
                        <span class="filters__items-container__item__button__resume">Tipo</span>
                        <span class="filters__items-container__item__button__name">Tipo</span>
                </button>
                <!-- FILTER MENU -->
                <mat-menu #menuSection="matMenu" (closed)="setCheckValue()">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                <!-- VALUES -->
                        <div class="filters__items-container__item__menu__boolean-container">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="requestSectionSelected">
                                <mat-radio-button class="example-radio-button" *ngFor="let requestSection of requestSections" [value]="requestSection">
                                        {{requestSection}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                <!-- ACTIONS -->
                <div class="filters__items-container__item__actions-container">
                     <button mat-button (click)="clearFilter()" type="button"
                        class="filters__items-container__item__actions-container__button">Limpiar</button>
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterRequests()">Aplicar</button>
                    </div>
                </mat-menu>
            </div>
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuState">
                        <span class="filters__items-container__item__button__resume">Estado</span>
                        <span class="filters__items-container__item__button__name">Estado</span>
                </button>
                <!-- FILTER MENU -->
                <mat-menu #menuState="matMenu" (closed)="setCheckValue()">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                <!-- VALUES -->
                        <div class="filters__items-container__item__menu__boolean-container">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="requestStateSelected">
                                <mat-radio-button class="example-radio-button" *ngFor="let requestState of requestStates" [value]="requestState">
                                        {{requestState}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                <!-- ACTIONS -->
                <div class="filters__items-container__item__actions-container">
                     <button mat-button (click)="clearFilter()" type="button"
                        class="filters__items-container__item__actions-container__button">Limpiar</button>
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterRequests()">Aplicar</button>
                    </div>
                </mat-menu>
            </div>
            <div class="filters__items-container__item">
                <!-- FILTER BUTTON -->
                <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuSeen">
                    <span class="filters__items-container__item__button__resume">Visto</span>
                    <span class="filters__items-container__item__button__name">Visto</span>
            </button>
            <!-- FILTER MENU -->
            <mat-menu #menuSeen="matMenu" (closed)="setCheckValue()">
                <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                            <!-- VALUES -->
                    <div class="filters__items-container__item__menu__boolean-container">
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="requestSeenSelected">
                            <mat-radio-button class="example-radio-button" *ngFor="let requestSeen of requestSeens" [value]="requestSeen">
                                    {{requestSeen}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
            <!-- ACTIONS -->
            <div class="filters__items-container__item__actions-container">
                 <button mat-button (click)="clearFilter()" type="button"
                    class="filters__items-container__item__actions-container__button">Limpiar</button>
                    <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterRequests()">Aplicar</button>
                </div>
            </mat-menu>
        </div>
    </div>
        </article>
    </div>
</div>
<!-- <p *ngIf="selectedFilters.length !== 0">Filtrando por: <span *ngFor="let item of selectedFilters">{{item}}</span></p> -->
<div class="table-responsive animated fadeIn" *ngIf="requests.length!==0">
    <table id="myTable" class="table table-sm table-hover color-table inverse-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Email</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Visto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of requests; let i = index">
                <td>{{((page -1) * 6) + i+1}}</td>
                <td>{{item.section}}</td>
                <td>{{item.description}}</td>
                <td>{{item.creatorEmail}}</td>
                <td class="text-center"><i class="fas fa-check-circle text-success" *ngIf="item.state === true"></i>
                    <i class="fas fa-times-circle text-danger" *ngIf="item.state === false"></i>
                    <i class="fas fa-pause-circle text-warning" *ngIf="item.state === null"></i>
                </td>
                <td class="text-center"><i class="fas fa-check-double text-info" *ngIf="item.seen === true"></i></td>
            </tr>
        </tbody>
    </table>
</div>
<div class="alert alert-danger animated fadeIn" role="alert" *ngIf="requests.length === 0 && !filterON"> 
    <i class="ti-equs"></i> No se encontraron <strong>Solicitudes</strong>
</div>
<div class="row" *ngIf="requests.length!==0 && totalPages > 1">
    <div class="col-md-12 text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                <button class="page-link text-dark btn-paginator pointer" *ngIf="page !== 1" [disabled]="page === 1" (click)="paginate(1)"><i class="fas fa-backward"></i></button>
                </li>
                <li class="page-item" *ngIf="page !== 1" (click)="paginate(page - 1)"><a class="page-link pointer">{{page - 1 }}</a></li>
                <li class="page-item" [class.active]="page === page">
                <a class="page-link">{{page}}</a>
                </li>
                <li class="page-item" *ngIf="totalPages >= 2 && page !== totalPages" (click)="paginate(page + 1)"><a class="page-link pointer">{{page + 1}}</a></li>
                <li class="page-item" *ngIf="page !== totalPages">
                <button class="page-link text-dark btn-paginator pointer" [disabled]="page === totalPages" (click)="paginate(totalPages)"><i class="fas fa-forward"></i></button>
                </li>
            </ul>
    </div>
</div>
<app-line-loader></app-line-loader>