.loader__spinner {
  left: calc(50% - (100px / 2));
  position: relative;
  opacity: 0.8;
  top: calc(50% - 100px);
}

.loader__messages {
  position: relative;
  font-weight: bold;
  color: black;
  opacity: 0.8;
}