        <div class="text-center">
            <img src="../../../assets/img/icons/avatar-user.jpg" class="img-circle mt-0" width="150" />
            <h2 class="card-title"> <strong>{{this.userLogged.name}} {{this.userLogged.lastName}}</strong>
            </h2>
            <h4 class="card-subtitle"><strong>{{this.userLogged.email}}</strong></h4>
            <div class="row text-right justify-content-md-center action-headers" *ngIf="!editMode">
                <div class="col text-center">
                    <a href="javascript:void(0)" (click)="unlockForm()" class=" text-info"><i class="fas fa-edit fa-1x"></i><br><span class="mb-0">Editar</span></a>
                </div>
                <div class="col text-center" *ngIf="userLogged.sportCenter !== null && userLogged.sportCenter.mercadoPago">
                    <a href="javascript:void(0)" (click)="openNotificationModal()" class="text-info"><i class="fas fa-bell fa-1x"></i><br><span class="mb-0">Notificaciones</span></a>
                </div>
                <div class="col text-center" >
                    <a href="javascript:void(0)" (click)="openChangePasswordModal()" class="text-info"><i class="fas fa-key fa-1x"></i><br><span class="mb-0">Contraseña</span></a>
                </div>
            </div>
        </div>
        <div>
            <hr class="mb-1"> </div>
        <div class="card-body"> 
            <form class="m-t-5 row p-0" [formGroup]="userForm" autocomplete="off">
                <div class="form-group col-md-6 m-t-5 m-b-5" [class.has-danger]="getFieldValid('name')">
                    <label for=""><strong>Nombre</strong></label>
                    <input type="text" 
                        class="form-control form-control-line" 
                        placeholder="Ingrese un nombre"
                        formControlName="name"
                        [class.form-control-danger]="getFieldValid('name')">
                        <div class="form-control-feedback" *ngIf="getFieldValid('name')">*Ingrese el nombre</div>
                </div>
                <div class="form-group col-md-6 m-t-5 m-b-5" [class.has-danger]="getFieldValid('lastName')">
                    <label for=""><strong>Apellido</strong></label>
                    <input type="text"
                        class="form-control" 
                        placeholder="Ingrese un apellido"
                        formControlName="lastName"
                        [class.form-control-danger]="getFieldValid('lastName')">
                        <div class="form-control-feedback" *ngIf="getFieldValid('lastName')">*Ingrese el apellido</div>
                </div>
                <div class="form-group col-md-6 m-t-5 m-b-5">
                    <label for=""><strong>Dirección</strong></label>
                    <input type="text" 
                        class="form-control form-control-line"
                        placeholder="Ingrese una dirección"
                        formControlName="address">
                        <!-- <div class="form-control-feedback" *ngIf="getFieldValid('address')">*Ingrese la dirección</div> -->
                </div>
                <div class="form-group col-md-6 m-t-5 m-b-5" [class.has-danger]="getFieldValid('phone')">
                    <label for=""><strong>Teléfono</strong><span class="font-13 text-muted" *ngIf="editMode"> (Ej: 3492658803)</span></label>
                    <input type="text" 
                        class="form-control form-control-line"
                        formControlName="phone"
                        placeholder="Ingrese un teléfono"
                        maxlength="13"
                        [class.form-control-danger]="getFieldValid('phone')">
                        <div class="form-control-feedback" *ngIf="getFieldValid('phone')">*Ingrese el nombre teléfono (Máx. 13 caracteres)</div> 
                </div>
                <div class="form-group col-md-12 m-t-5 text-center">
                    <button *ngIf="editMode" class="btn btn-info mr-1" (click)="updateUser()"><i class="fas fa-edit"></i> Guardar</button>
                    <button *ngIf="editMode" (click)="cancel()" class="btn btn-danger"><i class="fas fa-times-circle"></i> Cancelar</button>
                </div>            
            </form>
        </div>

<app-change-password-modal *ngIf="hiddenPasswordModal" [hiddenPasswordModal]="!hiddenPasswordModal" (closeModalOutput)="closeChangePasswordModal($event)"></app-change-password-modal>
<app-notification *ngIf="hiddenNotificationModal" [hiddenModal]="!hiddenNotificationModal" (closeModal)="closeNotificationModal()"></app-notification>
<app-line-loader></app-line-loader>