<section id="wrapper" class="login-register login-sidebar" style="background-image:url(./assets/images/background/login-register.jpg);">
    <div class="login-box card">
        <div class="card-body">
            <form class="form" [formGroup]="loginForm" (submit)="login()">
                <h2 class="card-title m-b-20 text-center font-weight-bold">INGRESO <br> <small class="text-center">Centro Deportivos</small></h2>
                <div class="form-group mb-1 mt-5" [class.has-danger]="getFieldValid('email')">
                    <div class="col">
                        <label class="font-bold">Email</label>
                        <input class="form-control" 
                        type="text" 
                        placeholder=""
                        formControlName="email"
                        [class.form-control-danger]="getFieldValid('email')">
                        <small *ngIf="getFieldValid('email')" class="text-danger">
                            *Ingrese el <strong>email</strong>.
                        </small>
                    </div>
                </div>
                <div class="form-group mb-1">
                    <div class="col">
                        <label class="font-bold">Contraseña</label>
                        <div class="input-group">
                            <input class="form-control" 
                            [type]="passwordIsVisible ? 'text' : 'password'"
                            placeholder=""
                                    formControlName="password" 
                                    [class.is-invalid]="getFieldValid('password')">
                            <!-- <i class="fa fa-eye-slash" aria-hidden="true"></i> -->
                            <div class="input-group-addon pointer" (click)="showPassword()">
                                <i [ngClass]="(passwordIsVisible) ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                            </div> 
                        </div>
                        <small *ngIf="getFieldValid('password')" class="text-danger">
                                *Ingrese la <strong>contraseña</strong>.
                        </small>
                    </div>
                    <div class="col-md-12 mt-1">
                        <a (click)="goRecoverPassword()" href="javascript:void(0)" id="to-recover" class="text-dark pull-left">
                            <i class="fa fa-lock m-r-5"></i>¿Olvidó su contraseña?
                        </a>
                    </div>
                </div>
                <div class="form-group mt-5">
                    <div class="col" style="display: flex;align-items: center;" >
                        <div class="checkbox checkbox-primary pull-left mb-0">
                            <input id="checkbox-signup" 
                            type="checkbox" 
                            class="filled-in chk-col-light-blue"
                            formControlName="remember"> 
                            <label for="checkbox-signup">Recordar email</label>
                        </div>
                        <div class="col pull-right">
                            <button class="btn btn-lg btn-info ml-4" type="submit">Ingresar</button>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        ¿Todavía no tiene cuenta? <a [routerLink]="['/admin/register']"  class="text-info m-l-5"><b> Registrarse</b></a>
                    </div>
                </div>
                <hr>
            </form>
            <div class="footer mt-3">
                    <div class="row">
                        <div class="col text-center">
                            ¿Reservar un <span class="font-bold"> Turno</span>? <a [routerLink]="['/register']"  class="text-info m-l-5"><b> Turnos</b></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</section>
<app-forget-password-modal *ngIf="hiddenEmailModal" [hiddenEmailModal]="!hiddenEmailModal" (closeModalOutput)="closeRecoverPasswordModal($event)"></app-forget-password-modal>
<app-sport-center-modal *ngIf="hiddenSportCenterModal" [hiddenSportCenterModal]="!hiddenSportCenterModal" (closeModalOutput)="closeSportCenterModal($event)"></app-sport-center-modal>