<div class="card card-rounded bg-dark mb-5">
        <div class="card-block">
                <h2 class="card-title text-light text-center text-uppercase mb-0">
                        {{field.name}} 
                        <i class="far fa-star fa-size text-warning pointer pull-right content-tooltip mt-1" (click)="addFavorite(field.id)" *ngIf="userLogged.favorites === null || !userLogged.favorites.includes(field.id)">
                                <span class="tooltip-box" style="font-size:14px;font-style: normal;font-variant: normal;">Agregar Favorito</span>
                        </i>
                        <i class="fas fa-star fa-size text-warning pointer pull-right content-tooltip" (click)="deleteFavorite(field.id)" *ngIf="userLogged.favorites !== null && userLogged.favorites.includes(field.id)">
                                <span class="tooltip-box" style="font-size:14px;font-style: normal;">Quitar Favorito</span>
                        </i>
                </h2>
                <app-carousel-images [images]="field.images" [type]="'field'" [mode]="'get'"></app-carousel-images>
                <div class="row text-center">
                        <div class="col-6">
                                <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Precio</span> <br> {{field.description}}</p>
        
                        </div>
                        <div class="col-6">
                                <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Duración</span> <br> {{field.duration}}</p>
                        </div>
                        <div class="col-6">
                                <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Hora apertura</span> <br> 18:00hs{{field.openingHour | date:'shortTime':'+0' }}</p>
                        </div>
                        <div class="col-6">
                                <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Hora cierre</span> <br> 22:00hs {{field.closingHour | date:'shortTime':'+0'}}</p>
                        </div>
                        <div class="col-6">
                                <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Centro Deportivo</span> <br> {{field.sportCenter.name}}</p>
                        </div>
                        <div class="col-6">
                                <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Dirección</span> <br> {{field.sportCenter.address}}</p>
                        </div>
                </div>
                <hr class="bg-white m-0">
                <div class="text-center">
                        <button class="btn btn-success m-1 content-tooltip" 
                                (click)="goAppointment(field.id)"><i class="far fa-calendar-check"></i>
                                <span class="tooltip-box">Reservar</span>
                        </button>
                        <button class="btn btn-info m-1 content-tooltip"
                                (click)="goSportCenter(field.sportCenter)"><i class="fas fa-info-circle"></i>
                                <span class="tooltip-box">Información Centro Deportivo</span>
                        </button>
                </div>
    </div>
  </div>
