<div class="card card-rounded bg-dark mb-1">
        <div class="card-block">
                <h2 class="card-title text-light text-center text-uppercase mb-0 long-text" >
                        {{field.name}}
                        <i class="far fa-star fa-size text-warning pointer pull-right mt-1" data-toggle="tooltip" data-placement="top" title="Agregar favorito" (click)="addFavorite(field.id)" *ngIf="userLogged.favorites === null || !userLogged.favorites.includes(field.id)">
                        </i>
                        <i class="fas fa-star fa-size text-warning pointer pull-right mt-1" data-toggle="tooltip" data-placement="top" title="Quitar favorito" (click)="deleteFavorite(field.id)" *ngIf="userLogged.favorites !== null && userLogged.favorites.includes(field.id)">
                        </i>
                </h2>
                <app-carousel-images [images]="field.images" [type]="'field'" [mode]="'get'"></app-carousel-images>
                <div class="row text-center">
                        <div class="col-6">
                                <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Precio</span> <br> {{field.price}} $</p>
        
                        </div>
                        <div class="col-6">
                                <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Duración</span> <br> {{field.duration}} Min.</p>
                        </div>
                        <div class="col-12">
                                <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Deportes - Cant. Jugadores</span> <br>
                                        <span *ngFor="let sport of field.sports">{{sport.sport.name}} - {{sport.cantPlayers}} <br></span>
                                </p>
                        </div>
                        <div class="col-6">
                                <p class="card-text m-1 text-light long-text"><span class="font-bold" style="text-decoration: underline;">Características</span> <br>
                                        <span *ngFor="let feature of field.features">{{feature.name}} <br>
                                        </span>
                                        <span *ngIf="field.features.length === 0"> - </span>
                                </p>
                        </div>
                        <div class="col-6">
                                <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Centro Deportivo</span> <br> {{field.sportCenter.name}}</p>
                        </div>
                        <div class="col-12 text-center">
                                <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Dirección</span> <br> {{field.sportCenter.address}}</p>
                        </div>
                </div>
                <hr class="bg-white m-0">
                <div class="text-center">
                        <button class="btn btn-success m-1" data-toggle="tooltip" data-placement="top" title="Reservar"
                                (click)="goAppointment(field.id)"><i class="far fa-calendar-check"></i>
                        </button>
                        <button class="btn btn-info m-1" data-toggle="tooltip" data-placement="top" title="Información Centro Deportivo"
                                (click)="goSportCenter()"><i class="fas fa-info-circle"></i>
                        </button>
                        <button class="btn btn-info m-1" data-toggle="tooltip" data-placement="top" title="Horarios"
                            (click)="openScheduleModal()"><i class="fas fa-clock"></i>
                        </button>
                        <button class="btn btn-info m-1" data-toggle="tooltip" data-placement="top" title="Mapa"
                            (click)="openMap()"><i class="fas fa-map-marker-alt"></i>
                        </button>
                </div>
    </div>
  </div>
  <script>
          $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
  </script>