.fa-size{
    font-size: 	.475em;
}
    /* Tooltip */
    .content-tooltip{
        position: relative;
      }
      .content-tooltip:hover .tooltip-box-down{
        display: inline-block;
      }
      .tooltip-box-down{
        display: none;
        position: absolute;
        background-color: black;
        line-height: 20px;
        z-index: 500;
        text-align: center;
        color: white;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 5px;
        right: -90%;
        bottom: -15%;
      }
      .tooltip-box-down::after{
        content: "";
        display: block;
        border-top: 7px solid transparent;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        position: absolute;
        bottom: 60px;
      }