<div class="table-responsive animated fadeIn" *ngIf="users.length!==0">
    <table id="myTable" class="table table-hover color-table inverse-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.address}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button (click)="activateBlockUser(user, 'active')" *ngIf="user.state === false" class="btn btn-success badge m-1 content-tooltip" >
                        <i class="fas fa-check"></i>
                        <span class="tooltip-box"></span>
                    </button>
                    <button (click)="activateBlockUser(user, 'block')" *ngIf="user.state === true" class="btn btn-danger badge m-1 content-tooltip" >
                        <i class="fas fa-times"></i>
                        <span class="tooltip-box"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="alert alert-danger animated fadeIn" role="alert" *ngIf="users.length === 0"> 
    <i class="ti-user"></i> No se encontraron <strong>Usuarios {{type}}</strong>
</div>
<app-full-screen-loader [message]="'¡Buscando usuarios. Por favor espere!'"></app-full-screen-loader>
<app-line-loader></app-line-loader>

