<div class="col-12">
    <div class="row">
      <div class="col-sm-9 col-md-9 p-0">
        <h3 class="mt-0"><span class="card-title">USUARIOS</span>
            <div id="example_filter" class="search-entry">
                <!-- <h6 class="pull-left">
                    <strong class="search-title-text">Buscar:</strong>
                    <input type="search" class="" [value]="searchText" placeholder="" #text (keyup.enter)="searchUsers(text.value)" >
                    <i class="fas fa-search pointer" (click)="searchUsers(text.value)"></i>
                </h6> -->
            </div>
        </h3>
      </div>
      <div class="col-sm-3 col-md-3 p-0">
        <!-- <a class="text-info pointer d-flex pull-right entry-button" (click)="refreshTable()">Limpiar</a> -->
      </div>
    </div>
</div>
<div>
    <!-- <article class="filters">
        <p class="filters__title">Filtrar</p>
        <div class="filters__items-container">
            <div class="filters__items-container__item"> -->
                <!-- FILTER BUTTON -->
                <!-- <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuInvitados">
                    <span class="filters__items-container__item__button__resume">Estado</span>
                    <span class="filters__items-container__item__button__name">Estado</span>
            </button> -->
            <!-- FILTER MENU -->
            <!-- <mat-menu #menuInvitados="matMenu" (closed)="setCheckValue()">
                <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)"> -->
                            <!-- VALUES -->
                    <!-- <div class="filters__items-container__item__menu__boolean-container">
                        <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="userTypeSelected">
                            <mat-radio-button class="example-radio-button" *ngFor="let userType of userTypes" [value]="userType">
                                    {{userType}}
                            </mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div> -->
            <!-- ACTIONS -->
            <!-- <div class="filters__items-container__item__actions-container"> -->
                <!-- <button mat-button (click)="clearFilter(filter)" type="button"
                    class="filters__items-container__item__actions-container__button">Limpiar</button> -->
                    <!-- <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterUsers()">Aplicar</button>
                </div>
            </mat-menu>
        </div>
    </div>
</article> -->
</div>

<hr>

<div class="table-responsive animated fadeIn" *ngIf="users.length!==0">
    <table id="myTable" class="table table-hover color-table inverse-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Teléfono</th>
                <th>Dirección</th>
                <th>Email</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users; let i = index">
                <td>{{i+1}}</td>
                <td>{{user.name}}</td>
                <td>{{user.secondName}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.address}}</td>
                <td>{{user.email}}</td>
                <td>
                    <button (click)="activateBlockUser(user)" *ngIf="user.state === false" class="btn btn-success badge m-1 content-tooltip" >
                        <i class="fas fa-check"></i>
                        <span class="tooltip-box"></span>
                    </button>
                    <button (click)="activateBlockUser(user)" *ngIf="user.state === true" class="btn btn-danger badge m-1 content-tooltip" >
                        <i class="fas fa-times"></i>
                        <span class="tooltip-box"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <div class="row" *ngIf="users.length!==0 && totalPages > 1">
    <div class="col-md-12 text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                <button class="page-link text-dark btn-paginator pointer" [disabled]="page === 1" (click)="getMoreUsers(1)"><i class="fas fa-backward"></i></button>
                </li>
                <li class="page-item" *ngIf="page !== 1" (click)="getMoreUsers(page - 1)"><a class="page-link pointer">{{page - 1 }}</a></li>
                <li class="page-item" [class.active]="page === page">
                <a class="page-link">{{page}}</a>
                </li>
                <li class="page-item" *ngIf="totalPages >= 2 && page !== totalPages" (click)="getMoreUsers(page + 1)"><a class="page-link pointer">{{page + 1}}</a></li>
                <li class="page-item">
                <button class="page-link text-dark btn-paginator pointer" [disabled]="page === totalPages" (click)="getMoreUsers(totalPages)"><i class="fas fa-forward"></i></button>
                </li>
            </ul>
    </div>
</div> -->
<div class="alert alert-danger animated fadeIn" role="alert" *ngIf="users.length === 0"> 
    <i class="ti-user"></i> No se encontraron <strong>Usuarios {{type}}</strong>
</div>
<app-full-screen-loader [message]="'¡Buscando usuarios. Por favor espere!'"></app-full-screen-loader>
<app-line-loader></app-line-loader>

