<div class="background-modal" [class.hidden]="hiddenSportCenterModal">
    <div class="modal  show animated fadeIn fast modal-dialog-centered" id="exampleModal" tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel1" aria-hidden="true" 
        style="display: block; overflow-y: auto;" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog " role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title font-bold" id="exampleModalLabel">Alta Centro Deportivo.</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p class="mb-2">Estimado <strong>Usuario</strong>, para poder ingresar deberá dar de alta su <strong>centro deportivo</strong>. Por favor complete la siguiente información.</p>
                <p class="mb-2">Una vez completado este formulario, podrá gozar de los beneficios.</p>
                <form [formGroup]="sportCenterForm">
                    <div class="form-group mb-1">
                        <label for="name" class="col-form-label"><strong>Nombre:</strong></label>
                        <input type="text" class="form-control"  formControlName="name" [class.is-invalid]="getFieldValid('name')">
                        <small *ngIf="getFieldValid('name')" class="text-danger">
                          *Ingrese un <strong>nombre</strong>.
                        </small>
                    </div>
                    <div class="form-group mb-1">
                      <label for="address" class="col-form-label">
                        <strong>Dirección: 
                          <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Indique la dirección y luego márquela en el mapa."></i>
                        </strong>
                      </label>
                      <input type="text" class="form-control m-b-5"  formControlName="address" [class.is-invalid]="getFieldValid('address')">
                      <small *ngIf="getFieldValid('address')" class="text-danger m-b-5">
                        *Ingrese una <strong>dirección</strong>.
                      </small>
                      <agm-map [latitude]="initialLat" 
                                [longitude]="initialLng" 
                                [zoom]="zoom" 
                                [mapTypeId]="mapTypeId"
                                (mapClick)="changeLocation($event)">
                            <agm-marker *ngIf="isMarked" [latitude]="sportCenterForm.controls['latitude'].value" [longitude]="sportCenterForm.controls['longitude'].value"></agm-marker>
                      </agm-map>
                      <small *ngIf="getFieldValid('latitude') || getFieldValid('longitude')" class="text-danger m-b-5">
                        *Marque en el mapa la dirección
                      </small>
                  </div>
                  <div class="form-group mb-1">
                    <label for="phone" class="col-form-label"><strong>Teléfono:</strong></label>
                    <input type="number" class="form-control"  formControlName="phone" [class.is-invalid]="getFieldValid('phone')">
                    <small *ngIf="getFieldValid('phone')" class="text-danger">
                      *Ingrese un <strong>teléfono</strong>.
                    </small>
                  </div>
                  <div class="form-group mb-1">
                    <label for="aditionalElectricity" class="col-form-label mr-2"><strong>¿Cobro adicional luz?</strong></label>
                    <mat-slide-toggle (change)="electricitySlideChange($event)" color="primary">
                      {{this.slideElectricity? 'SI': 'NO'}}
                    </mat-slide-toggle>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group mb-1" *ngIf="this.slideElectricity">
                        <label for="aditionalElectricity" class="col-form-label"><strong>Monto adicional:</strong></label>
                        <input type="number" class="form-control" formControlName="aditionalElectricity" [class.is-invalid]="getFieldValid('aditionalElectricity')">
                        <small *ngIf="getFieldValid('aditionalElectricity')" class="text-danger">
                          *Ingrese un <strong>monto</strong>.
                        </small>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group mb-1" *ngIf="this.slideElectricity">
                        <label for="aditionalElectricityHour" class="col-form-label"><strong>Hora desde:</strong></label>
                        <input type="time" class="form-control" formControlName="aditionalElectricityHour" [class.is-invalid]="getFieldValid('aditionalElectricityHour')">
                        <small *ngIf="getFieldValid('aditionalElectricityHour')" class="text-danger">
                          *Ingrese un <strong>horario</strong>.
                        </small>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-1">
                    <label for="mercadoPago" class="col-form-label mr-2">
                      <strong>Cobro electrónico 
                        <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Solo se aceptarán mediante MercadoPago."></i>
                    </strong>
                    </label>
                    <mat-slide-toggle (change)="mercadoPagoSlideChange($event)" color="primary">
                      {{this.slideMercadoPago? 'SI': 'NO'}}
                    </mat-slide-toggle>
                    <br>
                    <small><a href="" *ngIf="slideMercadoPago">Obtener claves de Mercado Pago</a></small>
                  </div>
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group mb-1" *ngIf="this.slideMercadoPago">
                        <label for="aditionalElectricity" class="col-form-label">Access Token</label>
                        <div class="input-group">
                            <input type="password" class="form-control" formControlName="accessToken" [type]="accessTokenIsVisible ? 'text' : 'password'" [class.is-invalid]="getFieldValid('accessToken')">
                            <div class="input-group-addon pointer" (click)="showAccessToken()">
                                <i [ngClass]="(accessTokenIsVisible) ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                            </div> 
                            <small *ngIf="getFieldValid('accessToken')" class="text-danger">
                              *Ingrese un <strong>Access Token</strong>.
                            </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group mb-1" *ngIf="this.slideMercadoPago">
                        <label for="aditionalElectricityHour" class="col-form-label">Public Key</label>
                        <div class="input-group">
                            <input type="password" class="form-control"  formControlName="publicKey" [type]="publicKeyIsVisible ? 'text' : 'password'" [class.is-invalid]="getFieldValid('publicKey')">
                            <div class="input-group-addon pointer" (click)="showPublicKey()">
                                <i [ngClass]="(publicKeyIsVisible) ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                            </div>
                            <small *ngIf="getFieldValid('publicKey')" class="text-danger">
                              *Ingrese un <strong>Public Key</strong>.
                            </small>
                        </div>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group" *ngIf="slideMercadoPago">
                        <label for="aditionalElectricityHour" class="col-form-label">Cancelación 
                          <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Hora de anticipación máxima de cancelación de turno para no perder el dinero de pagos realizados."></i>
                        </label>
                        <div class="input-group" [class.has-danger]="getFieldValid('cancelationHour')">
                            <input type="number" class="form-control"  formControlName="cancelationHour"  [class.is-invalid]="getFieldValid('cancelationHour')">
                            <div class="input-group-addon">
                                HS
                            </div> 
                            <small *ngIf="getFieldValid('cancelationHour')" class="text-danger">
                                *Ingrese las <strong>horas </strong>para cancelación permitidas.
                            </small>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="form-group mb-1" *ngIf="this.slideMercadoPago">
                    <label for="paymentRequired" class="col-form-label mr-2">
                        <strong>Pago obligatorio</strong>
                    </label> 
                    <mat-slide-toggle color="primary" (change)="paymentRequiredSlideChange($event)" [checked]="slidePaymentRequired">
                        {{this.slidePaymentRequired? 'SI': 'NO'}}
                    </mat-slide-toggle>
                    <br>
                    <small><a href="" *ngIf="slidePaymentRequired">¿Qué significa?</a></small>
                </div>
                <div class="row"*ngIf="this.slideMercadoPago">
                  <div class="col-8">
                    <div class="form-group mb-1" *ngIf="slidePaymentRequired">
                        <label for="minimunAmount" class="col-form-label">Porcentaje mínimo</label>
                        <div class="input-group">
                            <input type="number" class="form-control" formControlName="minimunAmount" [class.is-invalid]="getFieldValid('minimunAmount')">
                            <div class="input-group-addon">
                                %
                            </div> 
                            <small *ngIf="getFieldValid('minimunAmount')" class="text-danger">
                              *Ingrese un <strong>Porcentaje Mínimo</strong>. (0-100)
                            </small>
                        </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" (click)="createSportCenter()">Crear</button>
                <button type="button" class="btn btn-danger"  (click)="closeModal()">Cancelar</button>
            </div>
        </div>
        </div>
    </div>
</div>