<section id="wrapper">
    <div class="login">
        <div class="login__left-panel">
		</div>
        <div class="login__right-panel">
            <h1 class="login__right-panel__title-header font-bold mt-5">SPORTURNO</h1>
			<div class="login__right-panel__header">
                <h2 class="login__right-panel__sub-title-header mt-3">Reservar Turno</h2>
				<!-- <div class="login__right-panel__header__logo"></div> -->
			</div>
                <form class="login__right-panel__form" id="loginform" [formGroup]="loginForm" (submit)="login()">
                    <!-- <h2 class="card-title m-b-20 text-center font-weight-bold">INGRESO</h2> -->
                    <h2 class="login__right-panel__sub-sub-title-header font-bold">INGRESO</h2>
                    <div class="form-group mb-1" [class.has-danger]="getFieldValid('email')">
                        <div class="col">
                            <label class="font-bold">Email</label>
                            <input class="form-control" 
                            type="text" 
                            placeholder=""
                            formControlName="email"
                            [class.form-control-danger]="getFieldValid('email')">
                            <small *ngIf="getFieldValid('email')" class="text-danger">
                                *Ingrese el <strong>email</strong>.
                            </small>
                        </div>
                    </div>
                    <div class="form-group mb-1">
                        <div class="col">
                            <label class="font-bold">Contraseña</label>
                            <div class="input-group">
                                <input class="form-control" 
                                [type]="passwordIsVisible ? 'text' : 'password'"
                                placeholder=""
                                        formControlName="password" 
                                        [class.is-invalid]="getFieldValid('password')">
                                <!-- <i class="fa fa-eye-slash" aria-hidden="true"></i> -->
                                <div class="input-group-addon pointer" (click)="showPassword()">
                                    <i [ngClass]="(passwordIsVisible) ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                                </div> 
                            </div>
                            <small *ngIf="getFieldValid('password')" class="text-danger">
                                    *Ingrese la <strong>contraseña</strong>.
                            </small>
                        </div>
                        <div class="col-md-12 mt-1">
                            <a (click)="goRecoverPassword()" href="javascript:void(0)" id="to-recover" class="text-dark pull-left">
                                <i class="fa fa-lock m-r-5"></i>¿Olvidó su contraseña?
                            </a>
                        </div>
                    </div>
                    <div class="form-group mt-5">
                        <div class="col" style="display: flex;align-items: center;" >
                            <div class="checkbox checkbox-primary pull-left mb-0">
                                <input id="checkbox-signup" 
                                type="checkbox" 
                                class="filled-in chk-col-light-blue"
                                formControlName="remember"> 
                                <label for="checkbox-signup">Recordar email</label>
                            </div>
                            <div class="col pull-right p-0">
                                <button class="btn btn-md btn-rounded btn-info ml-4" type="submit">Ingresar</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            ¿Todavía no tiene cuenta? <a [routerLink]="['/register']"  class="text-info m-l-5"><b> Registrarse</b></a>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group m-b-0 mt-4">
                        <div class="row">
                            <div class="col text-center">
                                ¿Unirse a <span class="font-bold"> SporTurno</span>? <a [routerLink]="['/admin/register']"  class="text-info m-l-5"><b> Centro deportivo</b></a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="col-sm-12 text-center">
                        <i class="fas fa-home"></i> <a [routerLink]="['/']" class="text-info m-l-5">Volver al inicio</a>
                    </div>
                </form>
            </div>
        </div>
</section>
<app-forget-password-modal *ngIf="hiddenEmailModal" [hiddenEmailModal]="!hiddenEmailModal" (closeModalOutput)="closeRecoverPasswordModal($event)"></app-forget-password-modal>