<ngb-carousel *ngIf="images.length>0" class="mb-1 animated fadeIn text-center" isShown="false" [showNavigationArrows]="images.length>1">
    <ng-template *ngFor="let image of images" ngbSlide>
      <div class="picsum-img-wrapper">
        <i *ngIf="mode==='update' && userLogged.role ==='CENTER-SUPER-ADMIN' && editMode" class="fas fa-times-circle pull-right pointer text-danger" style="z-index: 15;" (click)="deletedImage(image)"></i> 
        <img [src]= "image | image:type" class="img-field img-fluid" [alt]="image">
      </div>
      <div class="carousel-caption">
        <!-- <h3>First slide label</h3> -->
        <!-- <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p> -->
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="picsum-img-wrapper text-center" *ngIf="images.length === 0 && mode === 'get'">
    <img src= "../../../assets/img/fileUpload/no-image.png" class="img-field img-fluid">
  </div>
<div class="alert alert-danger animated fadeIn" role="alert" *ngIf="images.length === 0 && mode === 'update'"> 
    <i class="fas fa-times"></i> No hay <strong>Imágenes</strong> subidas.
</div>
