<div class="row">
    <div class="col-md-12">
        <h2 class="card-title text-center"><strong>Nuevo Turno</strong></h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-xlg-8 col-md-7 col-sm-12">
        <div class="card" *ngIf="fieldInParam">
            <div class="card-img card-inverse bg-app text-center">
                <h2 class="card-title m-2">Cancha <small>({{fieldInParam.name}})</small></h2>
            </div>
            <div class="card-body p-1">
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                            <p class="card-text"><span class="font-bold" style="text-decoration: underline;">Centro Deportivo</span> <br> {{fieldInParam.sportCenter.name}}</p>
                            <p class="card-text"><span class="font-bold" style="text-decoration: underline;">Dirección</span> <br> {{fieldInParam.sportCenter.address}}</p>
                            <p class="card-text"><span class="font-bold" style="text-decoration: underline;">Precio</span> <br> {{fieldInParam.price}} $</p>
                            <p class="card-text"><span class="font-bold" style="text-decoration: underline;">Deportes - Cant. Jugadores</span> <br>
                                    <span *ngFor="let sport of fieldInParam.sports">{{sport.sport.name}} - {{sport.cantPlayers}}</span>
                            </p>
                            <p class="card-text"><span class="font-bold" style="text-decoration: underline;">Duración</span> <br> {{fieldInParam.duration}} Min.</p>
                            <p class="card-text"><span class="font-bold" style="text-decoration: underline;">Características</span> <br>
                                    <span *ngFor="let feature of fieldInParam.features">{{feature.name}} 
                                                                                    <!-- <span *ngIf="fieldInParam.features.length = 0">Sin Datos</span> -->
                                    </span>
                            </p>
                    </div>
                    <div class="col-md-8 col-sm-12">
                        <p class="card-text mb-2 text-center"><span class="font-bold" style="text-decoration: underline;">Horarios</span></p>
                            <form [formGroup]="scheduleForm">
                                <div class="form-group m-t-5" formArrayName="schedules">
                                    <div class="alert alert-info" role="alert" *ngIf="schedules.length === 0">
                                            No hay horarios
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-bordered table-sm">
                                            <thead class="bg-sub-table text-white" *ngIf="schedules.length !== 0">
                                                <th>Día</th>
                                                <th>Hora Inicio</th>
                                                <th>Hora Fin</th>
                                                <th>Abierto</th>
                                            </thead>
                                            <tbody  *ngFor="let horario of schedules.controls; let i = index" [formGroupName]="i" >
                                                        <td >
                                                            <input type="text" style="text-overflow: ellipsis; width: 100%;" [value]="days[i]" disabled>
                                                        </td>
                                                    <td>
                                                        <input type="time" name="" formControlName="openingHour" disabled>
                                                    </td>
                                                    <td>
                                                        <input type="time" name="" formControlName="closingHour" disabled>
                                                    </td>
                                                    <td class="text-center">
                                                      <mat-slide-toggle  color="primary" (change)="slideChange($event,i)" [checked]="openSlide[i]" disabled>
                                                        {{openSlide[i]? 'SI': 'NO'}}
                                                      </mat-slide-toggle>
                                                    </td>                       
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                              </form>
                    </div>
            </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-xlg-4 col-md-5 col-sm-12">
        <div class="card">
            <div class="card-img card-inverse bg-app text-center">
                <h2 class="card-title m-2">Buscar</h2>
            </div>

            <div class="card-body p-0">
                <p class="text-center mt-1">
                    <span style="text-decoration: underline;"><strong>Elija rango de fechas.</strong></span>
                </p>
                <article class="filters mt-2" *ngIf="fieldInParam">
                    <div class="filters__items-container">
                        <div class="filters__items-container__item">
                            <!-- FILTER BUTTON -->
                            <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuDates">
                            <span class="filters__items-container__item__button__resume">Fecha</span>
                            <span class="filters__items-container__item__button__name">Fecha</span>
                            </button>
                                        <!-- FILTER MENU -->
                            <mat-menu #menuDates="matMenu">
                            <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                                <!-- VALUES -->
                                <div class="filters__items-container__item__menu__range-container">
                                    <div class="filters__items-container__item__menu__range-container__header">
                                    </div>
                                    <mat-form-field>
                                    <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRangeForm" [min]="minDate" [max]="maxDate" separator=" - " (click)="picker.open()">
                                        <input matStartDate formControlName="sinceDateSelected" placeholder="Desde">
                                        <input matEndDate formControlName="untilDateSelected" placeholder="Hasta">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                    </mat-form-field>
                                </div>
                            </div>
                            <!-- ACTIONS -->
                            <div class="filters__items-container__item__actions-container">
                                <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetDates()">Limpiar</button>
                                <!-- <button mat-button (click)="clearFilter(filter)" type="button"
                                    class="filters__items-container__item__actions-container__button">Limpiar</button> -->
                                <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterDates()">Aplicar</button>
                            </div>
                            </mat-menu>
                            <div *ngIf="isFilter">
                                <span><strong>Desde:</strong> {{sinceDateSelected | date:"dd-MM-yyyy":'+0'}}</span><br>
                                <span><strong>Hasta:</strong> {{untilDateSelected | date:"dd-MM-yyyy":'+0'}}</span>
                            </div>
                        </div>
                    </div>
                </article>
                <p class="text-center mt-2">
                    <span style="text-decoration: underline;"><strong>Elija rango horario.</strong></span>
                </p>
                <article class="filters mt-2" *ngIf="fieldInParam">
                    <div class="filters__items-container">
                        <div class="filters__items-container__item">
                            <!-- FILTER BUTTON -->
                            <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuHours">
                            <span class="filters__items-container__item__button__resume">Horario</span>
                            <span class="filters__items-container__item__button__name">Horario</span>
                            </button>
                                        <!-- FILTER MENU -->
                            <mat-menu #menuHours="matMenu">
                            <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                    <!-- VALUES -->
                                <div class="filters__items-container__item__menu__range-container">
                                <div class="filters__items-container__item__menu__range-container__header">
                                    <p class="filters__items-container__item__menu__range-container__header__title">Desde ({{sinceHourSelected}})</p>
                                </div>
                                    <mat-slider class="filters__items-container__item__menu__range-container__range"
                                        tickInterval="1"
                                        [(ngModel)]="sinceHourSelected" color="accent" [max]="untilHourSelected - 1" min="0" step="1" thumbLabel="true">
                                    </mat-slider>
                                </div>
                                <div class="filters__items-container__item__menu__range-container">
                                    <div class="filters__items-container__item__menu__range-container__header">
                                    <p class="filters__items-container__item__menu__range-container__header__title">Hasta ({{untilHourSelected}})</p>
                                    </div>
                                    <mat-slider class="filters__items-container__item__menu__range-container__range" 
                                    tickInterval="1"
                                    [(ngModel)]="untilHourSelected" color="accent" max="23" [min]="sinceHourSelected + 1" step="1" thumbLabel="true"></mat-slider>
                                </div>
                            </div>
                                            <!-- ACTIONS -->
                            <div class="filters__items-container__item__actions-container">
                                <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetHour()">Limpiar</button>
                                <!-- <button mat-button (click)="clearFilter(filter)" type="button"
                                    class="filters__items-container__item__actions-container__button">Limpiar</button> -->
                                <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterHour()">Aplicar</button>
                            </div>
                            </mat-menu>
                            <div *ngIf="isFilter">
                                <span><strong>Desde:</strong> {{sinceHourSelected}} hs.</span><br>
                                <span><strong>Hasta:</strong> {{untilHourSelected}} hs.</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-img card-inverse bg-app text-center" *ngIf="searchON">
                <h2 class="card-title m-0">Turnos disponibles</h2>
            </div>
        <app-table-do-appointment *ngIf="searchON" [availableAppointments]="availableAppointments" [fieldID]="fieldInParam.id" [searchON]="searchON"></app-table-do-appointment>
        </div>
    </div>
</div>

