<div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="card-title"><strong>Listado de canchas </strong></h2>
        </div>
        <div class="col-md-6">
            <button class="btn btn-danger btn-sm pull-right pointer" style="position: absolute;right: 0;z-index: 10;" *ngIf="sportCenterInParam !== ''" (click)="goBack()">
                <i class="fas fa-arrow-alt-circle-left"></i> Atrás
            </button>
        </div>
        
    </div>
</div>
<hr>
<div class="col-12 mb-2">
    <div class="row">
      <div class="col-sm-9 col-md-9 p-0">
            <div id="example_filter" class="search-entry">
                <h6 class="pull-left">
                    <strong class="search-title-text">Buscar:</strong>
                    <input type="search" class="" [value]="searchText" placeholder="" #text (keyup.enter)="searchFields(text.value)" >
                    <i class="fas fa-search pointer" (click)="searchFields(text.value)"></i>
                </h6>
            </div>
      </div>
      <div class="col-sm-3 col-md-3 p-0">
        <a class="text-info pointer d-flex pull-right entry-button" (click)="refreshTable()">Limpiar</a>
      </div>
    </div>
    <div class="row">
        <article class="filters mt-2">
            <h6 class="pull-left">
                <strong class="search-title-text">Filtrar:</strong>
            </h6>
            <div class="filters__items-container ml-3">
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuCat">
                    <span class="filters__items-container__item__button__resume">Deportes</span>
                    <span class="filters__items-container__item__button__name">Deportes</span>
                    </button>
                                <!-- FILTER MENU -->
                    <mat-menu #menuCat="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                        <!-- VALUES -->
                        <div class="filters__items-container__item__menu__options-container">
                        <div class="filters__items-container__item__menu__options-container__option" *ngFor="let sport of sportsCombo; let i = index">
                            <mat-checkbox  (change)="changeSportSelected($event,sport)" #myCheckBoxCategory [checked]="sportsSelected.includes(sport.id)">
                            <span>{{sport.text}}</span>
                            </mat-checkbox>
                        </div>
                        </div>
                    </div>
                                    <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                        <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetSports()">Limpiar</button>
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterSports()">Aplicar</button>
                    </div>
                    </mat-menu>
                </div>
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuFeature">
                    <span class="filters__items-container__item__button__resume">Características</span>
                    <span class="filters__items-container__item__button__name">Características</span>
                    </button>
                                <!-- FILTER MENU -->
                    <mat-menu #menuFeature="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                        <!-- VALUES -->
                        <div class="filters__items-container__item__menu__options-container">
                        <div class="filters__items-container__item__menu__options-container__option" *ngFor="let feature of featureCombo; let i = index">
                            <mat-checkbox  (change)="changeFeatureSelected($event,feature)" #myCheckBoxCategory [checked]="featuresSelected.includes(feature.id)">
                            <span>{{feature.text}}</span>
                            </mat-checkbox>
                        </div>
                        </div>
                    </div>
                                    <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                        <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetFeatures()">Limpiar</button>
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterFeatures()">Aplicar</button>
                    </div>
                    </mat-menu>
                </div>
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuDay">
                    <span class="filters__items-container__item__button__resume">Día</span>
                    <span class="filters__items-container__item__button__name">Día</span>
                    </button>
                                <!-- FILTER MENU -->
                    <mat-menu #menuDay="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                        <!-- VALUES -->
                        <div class="filters__items-container__item__menu__options-container">
                        <div class="filters__items-container__item__menu__options-container__option" *ngFor="let day of daysCombo; let i = index">
                            <mat-checkbox  (change)="changeDaysSelected($event,day)" #myCheckBoxCategory [checked]="daysSelected.includes(day.id)">
                            <span>{{day.text}}</span>
                            </mat-checkbox>
                        </div>
                        </div>
                    </div>
                                    <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                        <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetDays()">Limpiar</button>
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterDays()">Aplicar</button>
                    </div>
                    </mat-menu>
                </div> 
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuHours">
                    <span class="filters__items-container__item__button__resume">Horario</span>
                    <span class="filters__items-container__item__button__name">Horario</span>
                    </button>
                                <!-- FILTER MENU -->
                    <mat-menu #menuHours="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                            <!-- VALUES -->
                        <div class="filters__items-container__item__menu__range-container">
                        <div class="filters__items-container__item__menu__range-container__header">
                            <p class="filters__items-container__item__menu__range-container__header__title">Desde ({{sinceHourSelected}})</p>
                        </div>
                            <mat-slider class="filters__items-container__item__menu__range-container__range"
                                tickInterval="1"
                                [(ngModel)]="sinceHourSelected" color="accent" [max]="untilHourSelected - 1" min="0" step="1" thumbLabel="true">
                            </mat-slider>
                        </div>
                        <div class="filters__items-container__item__menu__range-container">
                            <div class="filters__items-container__item__menu__range-container__header">
                            <p class="filters__items-container__item__menu__range-container__header__title">Hasta ({{untilHourSelected}})</p>
                            </div>
                            <mat-slider class="filters__items-container__item__menu__range-container__range" 
                            tickInterval="1"
                            [(ngModel)]="untilHourSelected" color="accent" max="23" [min]="sinceHourSelected + 1" step="1" thumbLabel="true"></mat-slider>
                        </div>
                    </div>
                                    <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                        <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetHour()">Limpiar</button>
                        <!-- <button mat-button (click)="clearFilter(filter)" type="button"
                            class="filters__items-container__item__actions-container__button">Limpiar</button> -->
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterHour()">Aplicar</button>
                    </div>
                    </mat-menu>
                </div>
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuPrice">
                        <span class="filters__items-container__item__button__resume">Precio</span>
                        <span class="filters__items-container__item__button__name">Precio</span>
                </button>
                <!-- FILTER MENU -->
                <mat-menu #menuPrice="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                          <!-- VALUES -->
                      <div class="filters__items-container__item__menu__range-container">
                        <div class="filters__items-container__item__menu__range-container__header">
                          <p class="filters__items-container__item__menu__range-container__header__title">Desde ({{sincePriceSelected}})</p>
                        </div>
                          <mat-slider class="filters__items-container__item__menu__range-container__range"
                              tickInterval="1"
                              [(ngModel)]="sincePriceSelected" color="accent" [max]="untilPriceSelected" [min]="sinceBDPrice" step="1" thumbLabel="true">
                          </mat-slider>
                      </div>
                      <div class="filters__items-container__item__menu__range-container">
                          <div class="filters__items-container__item__menu__range-container__header">
                            <p class="filters__items-container__item__menu__range-container__header__title">Hasta ({{untilPriceSelected}})</p>
                          </div>
                          <mat-slider class="filters__items-container__item__menu__range-container__range" 
                          tickInterval="1"
                          [(ngModel)]="untilPriceSelected" color="accent" [max]="untilBDPrice" [min]="sincePriceSelected" step="1" thumbLabel="true"></mat-slider>
                        </div>
                    </div>
                                  <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                      <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetPrice()">Limpiar</button>
                        <!-- <button mat-button (click)="clearFilter(filter)" type="button"
                            class="filters__items-container__item__actions-container__button">Limpiar</button> -->
                      <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterPrice()">Aplicar</button>
                    </div>
                  </mat-menu>
                </div>
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuMap">
                    <span class="filters__items-container__item__button__resume">Mapa</span>
                    <span class="filters__items-container__item__button__name">Mapa</span>
                    </button>
                                <!-- FILTER MENU -->
                    <mat-menu #menuMap="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                         PONER MAPA
                    </div>
                                    <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                        <!-- <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetSports()">Limpiar</button> -->
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterSports()">Aplicar</button>
                    </div>
                    </mat-menu>
                </div>
            </div>
        </article>
    </div>
</div>
<p *ngIf="selectedFilters.length !== 0">Filtrando por: <span *ngFor="let item of selectedFilters">{{item}}</span></p>
<div class="card-group" *ngIf="fields.length > 0">
    <div class="col-md-6 col-lg-4 col-sm-12 animated fadeIn fast" *ngFor="let field of fields">
        <app-card-field [field]="field" (goSportCenterModal)="openSportCenterModal($event)" (goScheduleModal)="openScheduleModal($event)">

        </app-card-field>
    </div>
</div>
<div class="alert alert-danger animated fadeIn" role="alert" *ngIf="fields.length === 0 && !filterON"> 
    <i class="fas fa-times"></i> No se encontraron <strong>Canchas</strong>
</div>
<app-line-loader></app-line-loader>
<app-sport-center-info-modal *ngIf="hiddenSportCenterModal" [hiddenModal]="!hiddenSportCenterModal" [sportCenterSelectedID]="fieldSelected.sportCenter._id"
                                (closeModal)="closeSportCenterModal()">

</app-sport-center-info-modal>
<app-sport-center-schedule-modal *ngIf="hiddenScheduleModal" [hiddenModal]="!hiddenScheduleModal" [mode]="'get'"
                                [sportCenter]="fieldSelected.sportCenter" [sportCenterID]="fieldSelected.sportCenter.id"
                                (closeModal)="closeScheduleModal()">
</app-sport-center-schedule-modal>
