<div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="card-title" *ngIf="sportCenterInParam === '' && sportCenterNameSelected === ''"><strong>Listado de canchas </strong></h2>
            <h2 class="card-title" *ngIf="sportCenterInParam !== '' && sportCenterNameSelected === ''"><strong>{{sportCenterSelected.name}}</strong> - <small>Listado de canchas </small></h2>
            <h2 class="card-title" *ngIf="sportCenterInParam === '' && sportCenterNameSelected !== ''"><strong>{{sportCenterNameSelected}}</strong> - <small>Listado de canchas </small></h2>
        </div>        
    </div>
</div>
<hr>
<div class="col-12 mb-2">
    <div class="row">
      <div class="col-sm-9 col-md-9 p-0">
            <div id="example_filter" class="search-entry">
                <h6 class="pull-left">
                    <strong class="search-title-text">Buscar:</strong>
                    <input type="search" class="" [value]="searchText" placeholder="" #text (keyup.enter)="searchFields(text.value)" >
                    <i class="fas fa-search pointer" (click)="searchFields(text.value)"></i>
                </h6>
            </div>
      </div>
      <div class="col-sm-3 col-md-3 p-0">
        <a class="text-info pointer d-flex pull-right entry-button" (click)="refreshTable()">Limpiar</a>
      </div>
    </div>
    <div class="row">
        <article class="filters mt-2">
            <h6 class="pull-left">
                <strong class="search-title-text">Filtrar:</strong>
            </h6>
            <div class="filters__items-container">
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuCat">
                    <span class="filters__items-container__item__button__resume">Deportes</span>
                    <span class="filters__items-container__item__button__name">Deportes</span>
                    </button>
                                <!-- FILTER MENU -->
                    <mat-menu #menuCat="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                        <!-- VALUES -->
                        <div class="filters__items-container__item__menu__options-container">
                        <div class="filters__items-container__item__menu__options-container__option" *ngFor="let sport of sportsCombo; let i = index">
                            <mat-checkbox  (change)="changeSportSelected($event,sport)" #myCheckBoxCategory [checked]="sportsSelected.includes(sport.id)">
                            <span>{{sport.text}}</span>
                            </mat-checkbox>
                        </div>
                        </div>
                    </div>
                                    <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                        <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetSports()">Limpiar</button>
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterSports()">Aplicar</button>
                    </div>
                    </mat-menu>
                </div>
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuFeature">
                    <span class="filters__items-container__item__button__resume">Características</span>
                    <span class="filters__items-container__item__button__name">Características</span>
                    </button>
                                <!-- FILTER MENU -->
                    <mat-menu #menuFeature="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                        <!-- VALUES -->
                        <div class="filters__items-container__item__menu__options-container">
                        <div class="filters__items-container__item__menu__options-container__option" *ngFor="let feature of featureCombo; let i = index">
                            <mat-checkbox  (change)="changeFeatureSelected($event,feature)" #myCheckBoxCategory [checked]="featuresSelected.includes(feature.id)">
                            <span>{{feature.text}}</span>
                            </mat-checkbox>
                        </div>
                        </div>
                    </div>
                                    <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                        <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetFeatures()">Limpiar</button>
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterFeatures()">Aplicar</button>
                    </div>
                    </mat-menu>
                </div>
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuDay">
                    <span class="filters__items-container__item__button__resume">Día</span>
                    <span class="filters__items-container__item__button__name">Día</span>
                    </button>
                                <!-- FILTER MENU -->
                    <mat-menu #menuDay="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                        <!-- VALUES -->
                        <div class="filters__items-container__item__menu__options-container">
                            <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"  [(ngModel)]="daysSelected[0]">
                                <mat-radio-button class="example-radio-button" *ngFor="let day of daysCombo" [value]="day.id" (change)="changeDaysSelected($event,day)">
                                        {{day.text}}
                                </mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </div>
                                    <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                        <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetDays()">Limpiar</button>
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterDays()">Aplicar</button>
                    </div>
                    </mat-menu>
                </div> 
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuHours">
                    <span class="filters__items-container__item__button__resume">Horario</span>
                    <span class="filters__items-container__item__button__name">Horario</span>
                    </button>
                                <!-- FILTER MENU -->
                    <mat-menu #menuHours="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                            <!-- VALUES -->
                        <div class="filters__items-container__item__menu__range-container">
                        <div class="filters__items-container__item__menu__range-container__header">
                            <p class="filters__items-container__item__menu__range-container__header__title">Desde ({{sinceHourSelected}})</p>
                        </div>
                            <mat-slider class="filters__items-container__item__menu__range-container__range"
                                tickInterval="1"
                                [(ngModel)]="sinceHourSelected" color="accent" [max]="untilHourSelected - 1" min="0" step="1" thumbLabel="true">
                            </mat-slider>
                        </div>
                        <div class="filters__items-container__item__menu__range-container">
                            <div class="filters__items-container__item__menu__range-container__header">
                            <p class="filters__items-container__item__menu__range-container__header__title">Hasta ({{untilHourSelected}})</p>
                            </div>
                            <mat-slider class="filters__items-container__item__menu__range-container__range" 
                            tickInterval="1"
                            [(ngModel)]="untilHourSelected" color="accent" max="23" [min]="sinceHourSelected + 1" step="1" thumbLabel="true"></mat-slider>
                        </div>
                    </div>
                                    <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                        <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetHour()">Limpiar</button>
                        <!-- <button mat-button (click)="clearFilter(filter)" type="button"
                            class="filters__items-container__item__actions-container__button">Limpiar</button> -->
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterHour()">Aplicar</button>
                    </div>
                    </mat-menu>
                </div>
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuPrice">
                        <span class="filters__items-container__item__button__resume">Precio</span>
                        <span class="filters__items-container__item__button__name">Precio</span>
                </button>
                <!-- FILTER MENU -->
                <mat-menu #menuPrice="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                          <!-- VALUES -->
                      <div class="filters__items-container__item__menu__range-container">
                        <div class="filters__items-container__item__menu__range-container__header">
                          <p class="filters__items-container__item__menu__range-container__header__title">Desde ({{sincePriceSelected}})</p>
                        </div>
                          <mat-slider class="filters__items-container__item__menu__range-container__range"
                              tickInterval="1"
                              [(ngModel)]="sincePriceSelected" color="accent" [max]="untilPriceSelected" [min]="sinceBDPrice" step="1" thumbLabel="true">
                          </mat-slider>
                      </div>
                      <div class="filters__items-container__item__menu__range-container">
                          <div class="filters__items-container__item__menu__range-container__header">
                            <p class="filters__items-container__item__menu__range-container__header__title">Hasta ({{untilPriceSelected}})</p>
                          </div>
                          <mat-slider class="filters__items-container__item__menu__range-container__range" 
                          tickInterval="1"
                          [(ngModel)]="untilPriceSelected" color="accent" [max]="untilBDPrice" [min]="sincePriceSelected" step="1" thumbLabel="true"></mat-slider>
                        </div>
                    </div>
                                  <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                      <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetPrice()">Limpiar</button>
                        <!-- <button mat-button (click)="clearFilter(filter)" type="button"
                            class="filters__items-container__item__actions-container__button">Limpiar</button> -->
                      <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterPrice()">Aplicar</button>
                    </div>
                  </mat-menu>
                </div>
                <div class="filters__items-container__item" *ngIf="sportCenterInParam === ''">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuMap">
                    <span class="filters__items-container__item__button__resume">Mapa</span>
                    <span class="filters__items-container__item__button__name">Mapa</span>
                    </button>
                                <!-- FILTER MENU -->
                    <mat-menu #menuMap="matMenu">
                    <div class="filters__items-container__item__menu"  (click)="doNotCloseMenu($event)">
                        <div class="filters__items-container__item__menu__range-container__header">
                            <h6 class="card-title">Ubicación de centros deportivos</h6>
                        </div>
                            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [mapTypeId]="mapTypeId">
                                <agm-marker [latitude]="item.coords.latitude" [longitude]="item.coords.longitude" *ngFor="let item of sportCentersCombo">
                                    <agm-info-window>
                                        <div class="text-center">
                                            <span class="font-bold pointer txt" (click)="filterSportCenter(item,menuMap)">{{item.text}}</span>
                                        </div>
                                    </agm-info-window>
                                </agm-marker>
                            </agm-map>
                    </div>
                                    <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                        <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetSportCenter()">Limpiar</button>
                        <!-- <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterSports()">Aplicar</button> -->
                    </div>
                    </mat-menu>
                </div>
            </div>
        </article>
    </div>
</div>
<div class="col-12 mb-2">
    <div class="row">
        <div class="col-sm-12 col-md-1">
            <h6 class="pull-left pointer" (click)="resetDisponibility()">
                <strong class="filters__title font-disponibility">Disponibilidad</strong>
            </h6>
        </div>
        <article class="filters mt-2 col-sm-9 col-md-5">
            <div class="filters__items-container-disponibility" *ngIf="disponibilityON">
                <div class="filters__items-container__item">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuDates">
                    <span class="filters__items-container__item__button__resume">Fecha</span>
                    <span class="filters__items-container__item__button__name">Fecha</span>
                    </button>
                                <!-- FILTER MENU -->
                    <mat-menu #menuDates="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                        <!-- VALUES -->
                        <div class="filters__items-container__item__menu__range-container">
                            <div class="filters__items-container__item__menu__range-container__header">
                            </div>
                            <mat-form-field>
                            <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRangeForm" [min]="minDate" [max]="maxDate" separator=" - " (click)="picker.open()">
                                <input matStartDate formControlName="sinceDateSelected" placeholder="Desde">
                                <input matEndDate formControlName="untilDateSelected" placeholder="Hasta">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                        </div>
                    </div>
                    <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                        <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetDates()">Limpiar</button>
                        <!-- <button mat-button (click)="clearFilter(filter)" type="button"
                            class="filters__items-container__item__actions-container__button">Limpiar</button> -->
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterDates()">Aplicar</button>
                    </div>
                    </mat-menu>
                    <div>
                        <span class="sub-text"><strong>Desde:</strong> {{sinceDateSelected | date:"dd-MM-yyyy":'+0'}}</span><br>
                        <span class="sub-text"><strong>Hasta:</strong> {{untilDateSelected | date:"dd-MM-yyyy":'+0'}}</span>
                    </div>
                </div>
                <div class="filters__items-container__item" *ngIf="filterObject.sinceDate !== null">
                    <!-- FILTER BUTTON -->
                    <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuHoursDisponibility">
                    <span class="filters__items-container__item__button__resume">Horario</span>
                    <span class="filters__items-container__item__button__name">Horario</span>
                    </button>
                                <!-- FILTER MENU -->
                    <mat-menu #menuHoursDisponibility="matMenu">
                    <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                            <!-- VALUES -->
                        <div class="filters__items-container__item__menu__range-container">
                        <div class="filters__items-container__item__menu__range-container__header">
                            <p class="filters__items-container__item__menu__range-container__header__title">Desde ({{sinceHourSelectedDisponibility}})</p>
                        </div>
                            <mat-slider class="filters__items-container__item__menu__range-container__range"
                                tickInterval="1"
                                [(ngModel)]="sinceHourSelectedDisponibility" color="accent" [max]="untilHourSelectedDisponibility - 1" min="0" step="1" thumbLabel="true">
                            </mat-slider>
                        </div>
                        <div class="filters__items-container__item__menu__range-container">
                            <div class="filters__items-container__item__menu__range-container__header">
                            <p class="filters__items-container__item__menu__range-container__header__title">Hasta ({{untilHourSelectedDisponibility}})</p>
                            </div>
                            <mat-slider class="filters__items-container__item__menu__range-container__range" 
                            tickInterval="1"
                            [(ngModel)]="untilHourSelectedDisponibility" color="accent" max="23" [min]="sinceHourSelectedDisponibility + 1" step="1" thumbLabel="true"></mat-slider>
                        </div>
                    </div>
                                    <!-- ACTIONS -->
                    <div class="filters__items-container__item__actions-container">
                        <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetHourDisponibility()">Limpiar</button>
                        <!-- <button mat-button (click)="clearFilter(filter)" type="button"
                            class="filters__items-container__item__actions-container__button">Limpiar</button> -->
                        <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterHourDisponibility()">Aplicar</button>
                    </div>
                    </mat-menu>
                    <div>
                        <span class="sub-text"><strong>Desde:</strong> {{sinceHourSelectedDisponibility}} hs.</span><br>
                        <span class="sub-text"><strong>Hasta:</strong> {{untilHourSelectedDisponibility}} hs.</span>
                    </div>
                </div>
            </div>
        </article>
        <div class="col-sm-3 col-md-6 p-0">
            <a class="text-info pointer d-flex pull-right entry-button" *ngIf="disponibilityON" (click)="resetDisponibility()">Quitar</a>
          </div>
    </div>
</div>
<p *ngIf="selectedFilters.length !== 0">Filtrando por: <span class="badge bg-secondary m-1" *ngFor="let item of selectedFilters"> "{{item}}" </span></p>
<div class="card-group" *ngIf="fields.length > 0">
    <div class="col-sm-12 col-md-6 col-lg-4 animated fadeIn fast" *ngFor="let field of fields">
        <app-card-field [field]="field" (goSportCenterModal)="openSportCenterModal($event)" (goScheduleModal)="openScheduleModal($event)" (goOpenMap)="openMap($event)">

        </app-card-field>
    </div>
</div>
<div class="alert alert-danger animated fadeIn" role="alert" *ngIf="fields.length === 0 && !filterON"> 
    <i class="fas fa-times"></i> No se encontraron <strong>Canchas</strong>
</div>
<div class="row" *ngIf="fields.length!==0 && totalPages > 1">
    <div class="col-md-12 text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                <button class="page-link text-dark btn-paginator pointer" *ngIf="page !== 1" [disabled]="page === 1" (click)="paginate(1)"><i class="fas fa-backward"></i></button>
                </li>
                <li class="page-item" *ngIf="page !== 1" (click)="paginate(page - 1)"><a class="page-link pointer">{{page - 1 }}</a></li>
                <li class="page-item" [class.active]="page === page">
                <a class="page-link">{{page}}</a>
                </li>
                <li class="page-item" *ngIf="totalPages >= 2 && page !== totalPages" (click)="paginate(page + 1)"><a class="page-link pointer">{{page + 1}}</a></li>
                <li class="page-item" *ngIf="page !== totalPages">
                <button class="page-link text-dark btn-paginator pointer" [disabled]="page === totalPages" (click)="paginate(totalPages)"><i class="fas fa-forward"></i></button>
                </li>
            </ul>
    </div>
</div>
<app-line-loader></app-line-loader>
<app-sport-center-info-modal *ngIf="hiddenSportCenterModal" [hiddenModal]="!hiddenSportCenterModal" [sportCenterSelectedID]="fieldSelected.sportCenter._id" 
                                (closeModal)="closeSportCenterModal()" (openPolicyModal)="openCancelPolicyModal($event)">

</app-sport-center-info-modal>
<app-sport-center-schedule-modal *ngIf="hiddenScheduleModal" [hiddenModal]="!hiddenScheduleModal" [mode]="'get'"
                                [sportCenter]="fieldSelected.sportCenter" [sportCenterID]="fieldSelected.sportCenter.id"
                                (closeModal)="closeScheduleModal()">
</app-sport-center-schedule-modal>

<app-one-point-map *ngIf="hiddenOnePointMap" [hiddenOnePointMap]="!hiddenOnePointMap" [sportCenter]="sportCenterSelected" (goGPSModal)="openGPSModal($event)" (closeModal)="closeMap()"></app-one-point-map>
<app-gps-map *ngIf="hiddenGPSModal" [hiddenModal]="!hiddenGPSModal" [sportCenter]="sportCenterSelected" (closeModal)="closeGPSModal()"></app-gps-map>
<app-cancel-policy *ngIf="hiddenCancelPolicyModal" [hiddenModal]="!hiddenCancelPolicyModal" [sportCenter]="sportCenterSelected" (closeModal)="closeCancelPolicyModal()"></app-cancel-policy>