<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li *ngIf="userLogged.role !== 'SUPER-ADMIN'"> 
                    <a class="waves-effect waves-dark" [routerLink]="['/admin']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-expanded="false">
                        <i class="fas fa-thumbtack px-1"></i>
                        <span class="hide-menu align-middle">
                            <strong>Inicio</strong>
                        </span>
                        
                    </a>
                </li>
                <li class="nav-devider" *ngIf="userLogged.role !== 'SUPER-ADMIN'"></li>
                    <!-- CANCHAS -->
                    <li *ngIf="userLogged.role !== 'SUPER-ADMIN'"> 
                        <a class="waves-effect waves-dark" aria-expanded="false" [routerLink]="['/admin/fields']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                            <i class="fas fa-campground"></i>
                            <span class="hide-menu"> Canchas</span>
                        </a>
                    </li>
                    <!-- TURNOS -->
                    <li *ngIf="userLogged.role !== 'SUPER-ADMIN'"> 
                        <a class="waves-effect waves-dark" aria-expanded="false" [routerLink]="['/admin/appointments']" routerLinkActive="active">
                            <i class="fas fa-clipboard-check text-center"></i>
                            <span class="hide-menu"> Turnos</span>
                        </a>
                    </li>
                    <!-- USUARIOS -->
                    <li *ngIf="userLogged.role === 'SUPER-ADMIN' || userLogged.role === 'CENTER-SUPER-ADMIN'"> 
                        <a class="waves-effect waves-dark" *ngIf="userLogged.role === 'CENTER-SUPER-ADMIN'" [routerLink]="['/admin/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-expanded="false">
                            <i class="fas fa-users"></i>
                            <span class="hide-menu"> Usuarios</span>
                        </a>
                        <a class="waves-effect waves-dark" *ngIf="userLogged.role === 'SUPER-ADMIN'" [routerLink]="['/admin/super/users']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-expanded="false">
                            <i class="fas fa-users"></i>
                            <span class="hide-menu"> Usuarios</span>
                        </a>
                    </li>
                    <!-- SOLICITUDES -->
                    <li *ngIf="userLogged.role === 'CENTER-SUPER-ADMIN' || userLogged.role === 'SUPER-ADMIN'"> 
                        <a class="waves-effect waves-dark" *ngIf="userLogged.role === 'CENTER-SUPER-ADMIN'" [routerLink]="['/admin/requests']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-expanded="false">
                            <i class="fas fa-question-circle"></i>
                            <span class="hide-menu"> Solicitudes</span>
                        </a>
                        <a class="waves-effect waves-dark" *ngIf="userLogged.role === 'SUPER-ADMIN'" [routerLink]="['/admin/super/requests']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-expanded="false">
                            <i class="fas fa-question-circle"></i>
                            <span class="hide-menu"> Solicitudes</span>
                        </a>
                    </li>
                    <!-- CENTRO DEPORTIVOS -->
                    <li *ngIf="userLogged.role === 'CENTER-SUPER-ADMIN' || userLogged.role === 'CENTER-ADMIN'"> 
                        <a class="waves-effect waves-dark" [routerLink]="['/admin','sportcenter',sportCenterID]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-expanded="false">
                            <i class="fas fa-home"></i>
                            <span class="hide-menu"> Centro deportivo</span>
                        </a>
                    </li>
                    <li *ngIf="userLogged.role === 'SUPER-ADMIN'"> 
                        <a class="waves-effect waves-dark" [routerLink]="['/admin/super/sportcenters']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-expanded="false">
                            <i class="fas fa-home"></i>
                            <span class="hide-menu"> Centros deportivos</span>
                        </a>
                    </li>
                    <!-- DEPORTES -->
                    <li *ngIf="userLogged.role === 'SUPER-ADMIN'"> 
                        <a class="waves-effect waves-dark" [routerLink]="['/admin/super/sports']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-expanded="false">
                            <i class="fas fa-dumbbell"></i>
                            <span class="hide-menu"> Deportes</span>
                        </a>
                    </li>
                    <!-- SERVICIOS -->
                    <li *ngIf="userLogged.role === 'SUPER-ADMIN'"> 
                        <a class="waves-effect waves-dark" [routerLink]="['/admin/super/services']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-expanded="false">
                            <i class="fas fa-store"></i>
                            <span class="hide-menu"> Servicios</span>
                        </a>
                    </li>
                    <!-- CARACTERISITCAS -->
                    <li *ngIf="userLogged.role === 'SUPER-ADMIN'"> 
                        <a class="waves-effect waves-dark" [routerLink]="['/admin/super/features']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-expanded="false">
                            <i class="fas fa-certificate"></i>
                            <span class="hide-menu"> Características</span>
                        </a>
                    </li>
                    <!-- PAGOS -->
                    <li *ngIf="userLogged.role === 'CENTER-SUPER-ADMIN' || userLogged.role === 'CENTER-ADMIN'"> 
                        <a class="waves-effect waves-dark" [routerLink]="['/admin','payments']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" aria-expanded="false">
                            <i class="fas fa-file-invoice-dollar"></i>
                            <span class="hide-menu"> Pagos</span>
                        </a>
                    </li>
            </ul>
        </nav>
    </div>
</aside>
