<div class="card card-rounded bg-dark mb-1">
    <div class="card-block">
            <h2 class="card-title text-light text-center text-uppercase mb-0 long-text">
                    {{sportCenter.name}} 
                    <i class="far fa-star fa-size text-warning pointer pull-right mt-1" data-toggle="tooltip" data-placement="top" title="Agregar favorito" (click)="addFavorite(sportCenter.id)" *ngIf="userLogged.favorites === null || !userLogged.favorites.includes(sportCenter.id)">
                    </i>
                    <i class="fas fa-star fa-size text-warning pointer pull-right mt-1"data-toggle="tooltip" data-placement="top" title="Quitar favorito" (click)="deleteFavorite(sportCenter.id)" *ngIf="userLogged.favorites !== null && userLogged.favorites.includes(sportCenter.id)">
                    </i>
            </h2>
            <app-carousel-images [images]="sportCenter.images" [type]="'sportCenter'" [mode]="'get'"></app-carousel-images>
            <div class="row text-center">
                    <div class="col-6">
                            <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Dirección</span> <br> {{sportCenter.address}}</p>
    
                    </div>
                    <div class="col-6">
                            <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Teléfono</span> <br> {{sportCenter.phone}}</p>
                    </div>
                    <!-- <div class="col-6">
                            <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Hora apertura</span> <br> 18:00hs{{sportCenter.openingHour | date:'shortTime':'+0' }}</p>
                    </div>
                    <div class="col-6">
                            <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Hora cierre</span> <br> 22:00hs {{sportCenter.closingHour | date:'shortTime':'+0'}}</p>
                    </div>
                    <div class="col-6">
                            <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Centro Deportivo</span> <br> {{sportCenter.sportCenter.name}}</p>
                    </div>
                    <div class="col-6">
                            <p class="card-text m-1 text-light"><span class="font-bold" style="text-decoration: underline;">Dirección</span> <br> {{sportCenter.sportCenter.address}}</p>
                    </div> -->
            </div>
            <hr class="bg-white m-0">
            <div class="text-center">
                    <button class="btn btn-success m-1" data-toggle="tooltip" data-placement="top" title="Canchas" 
                            (click)="getFields(sportCenter.id)"><i class="far fa-calendar-check"></i>
                    </button>
                    <button class="btn btn-info m-1" data-toggle="tooltip" data-placement="top" title="Información"
                                (click)="openSportCenterModal()"><i class="fas fa-info-circle"></i>
                    </button>
                    <button class="btn btn-info m-1" data-toggle="tooltip" data-placement="top" title="Horarios"
                            (click)="openScheduleModal()"><i class="fas fa-clock"></i>
                    </button>
                    <button class="btn btn-info m-1" data-toggle="tooltip" data-placement="top" title="Mapa"
                            (click)="openMap(sportCenter)"><i class="fas fa-map-marker-alt"></i>
                    </button>
            </div>
</div>
</div>
