<div class="card-group">
    <div class="card col-md-6">
        <div class="card-img card-inverse bg-app text-center">
            <h2 class="card-title m-2">Turnos</h2>
        </div>
        <div class="card-body bg-white p-0 ">
            <h4 class="card-title mt-2">Por comenzar:</h4>
                <app-carousel-appointment [appointments]="aboutToStartAppointments" [type]="'Por comenzar'" (getAppointments)="  getAboutToStartAppointments()"></app-carousel-appointment>
            <hr>
            <h4 class="card-title">Reservados:</h4>
                <app-carousel-appointment [appointments]="reservedAppointments" [type]="'Reservados'" (getAppointments)="getReservedAppointments()"></app-carousel-appointment>
            <hr>
            <button class="btn btn-success btn-block" [routerLink]="['/user/fields']"><strong>Reservar cancha</strong></button>
        </div>
    </div>
    <div class="card col-md-6 text-center">
        <div class="card-img card-inverse bg-app">
            <h2 class="card-title m-2">Clima</h2>
        </div>
        <div class="card-body">
            <select class="custom-select pull-right">
                <option selected="">Today</option>
                <option value="1">Weekly</option>
            </select>
            <div class="d-flex align-items-center flex-row m-t-30">
                <div class="p-2 display-5 text-info"><i class="wi wi-day-showers"></i> <span>73<sup>°</sup></span></div>
                <div class="p-2">
                    <h3 class="m-b-0">Sabado</h3><small>Rosario, Santa Fe, Argentina</small></div>
                </div>
                <table class="table no-border">
                    <tbody>
                        <tr>
                            <td>Wind</td>
                            <td class="font-medium">ESE 17 mph</td>
                        </tr>
                        <tr>
                            <td>Humidity</td>
                            <td class="font-medium">83%</td>
                        </tr>
                        <tr>
                            <td>Pressure</td>
                    <td class="font-medium">28.56 in</td>
                </tr>
                <tr>
                    <td>Cloud Cover</td>
                    <td class="font-medium">78%</td>
                </tr>
                <tr>
                    <td>Ceiling</td>
                    <td class="font-medium">25760 ft</td>
                </tr>
            </tbody>
        </table>
        <hr>
        <ul class="list-unstyled row text-center city-weather-days">
            <li class="col"><i class="wi wi-day-sunny"></i><span>09:30</span>
                <h3>70<sup>°</sup></h3></li>
                <li class="col"><i class="wi wi-day-cloudy"></i><span>11:30</span>
                    <h3>72<sup>°</sup></h3></li>
                    <li class="col"><i class="wi wi-day-hail"></i><span>13:30</span>
                        <h3>75<sup>°</sup></h3></li>
                        <li class="col"><i class="wi wi-day-sprinkle"></i><span>15:30</span>
                <h3>76<sup>°</sup></h3></li>
            </ul>
        </div>
    </div>
</div>
<app-line-loader></app-line-loader>