<h2>Historial de turnos</h2>
<hr>
<h3>Por comenzar</h3>
<app-table-appointment [appointments]="aboutToStartAppointments" [text]="'por comenzar.'"></app-table-appointment>
<hr>
<h3>Reservado</h3>
<app-table-appointment [appointments]="reservedAppointments" [text]="'reservados.'"></app-table-appointment>
<hr>
<h3>En curso</h3>
<app-table-appointment [appointments]="inProgressAppointments" [text]="'en curso.'"></app-table-appointment>
<hr>
<h3>Finalizado</h3>
<app-table-appointment [appointments]="completedAppointments" [text]="'finalizados.'"></app-table-appointment>
