<div>
    <div class="row">
        <div class="col-md-6">
            <h2 class="card-title"><strong>Historial de turnos </strong></h2>
        </div>
        <div class="col-md-6">
            <button class="pull-right btn btn-info entry-button" [routerLink]="'/admin/appointment'"><i class="fas fa-plus"></i> Nueva turno</button>
        </div>
    </div>
</div>
<hr>
<h3>Por comenzar</h3>
<app-table-appointment [appointments]="aboutToStartAppointments" [text]="'por comenzar.'"></app-table-appointment>
<hr>
<h3>Reservado</h3>
<app-table-appointment [appointments]="reservedAppointments" [text]="'reservados.'"></app-table-appointment>
<hr>
<h3>En curso</h3>
<app-table-appointment [appointments]="inProgressAppointments" [text]="'en curso.'"></app-table-appointment>
<hr>
<h3>Finalizado</h3>
<app-table-appointment [appointments]="completedAppointments" [text]="'finalizados.'"></app-table-appointment>
