<div class="background-modal" [class.hidden]="hiddenModal" >
    <div class="modal  show animated fadeIn fast" id="exampleModal" tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel1" aria-hidden="true" 
        style="display: block; overflow-y: auto;" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title font-bold" id="exampleModalLabel"><i class="far fa-calendar-plus"></i> Fechas Especiales</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closedModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p class="subtitle mb-2">En estas fechas el Centro Deportivo permanecerá cerrado.</p>
                <div class="alert alert-danger animated fadeIn" role="alert" *ngIf="specialSchedules.length === 0" > 
                    <i class="fas fa-times"></i>No hay <strong>Fechas especiales</strong> registradas.
                </div>
                <div style="overflow-x: auto;">
                    <table id="myTable" class="table table-bordered table-sm">
                        <thead class="bg-sub-table text-white" *ngIf="specialSchedules.length !== 0">
                            <th>Fecha</th>
                            <th>Hora desde</th>
                            <th>Hora hasta</th>
                            <th>Acción</th>
                        </thead>
                        <tbody  *ngFor="let specialSchedule of specialSchedules; let i = index">
                                <td >
                                    <span>{{specialSchedule.date | date:"dd-MM-yyyy":'+0'}}</span>
                                </td>
                                <td>
                                    <span>{{specialSchedule.sinceHour | date:'HH:mm':'+0'}}</span>
                                </td>
                                <td>
                                    <span>{{specialSchedule.untilHour | date:'HH:mm':'+0'}}</span>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-sm bg-danger" (click)="deleteSpecialSchedule(specialSchedule)" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                        <i class="fas fa-times-circle text-white pointer"></i>
                                    </button>
                                </td>                   
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="openSpecialScheduleCreateModal()"><i class="fas fa-plus"></i> Crear</button>
              </div>
          </div>
        </div>
    </div>
</div>

<app-line-loader></app-line-loader>
