<div class="background-modal" [class.hidden]="hiddenPasswordModal" >
    <div class="modal  show animated fadeIn fast" id="exampleModal" tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel1" aria-hidden="true" 
        style="display: block" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cambiar contraseña</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p>Estimado <strong>Usuario</strong>, ingrese primero su antigua contraseña. Luego ingrese la nueva contraseña y repítala para su confirmación.</p>
                <form [formGroup]="passwordForm">
                <div class="form-group">
                    <label for="password" class="col-form-label">Anterior Contraseña</label>
                    <input type="password" class="form-control"  formControlName="oldPassword" [class.is-invalid]="getFieldValid('oldPassword')">
                    <small *ngIf="getFieldValid('oldPassword')" class="text-danger">
                        Ingrese su <strong>anterior</strong> contraseña
                    </small>
                </div>
                <div class="form-group">
                    <label for="password" class="col-form-label">Nueva Contraseña</label>
                    <input type="password" class="form-control"  formControlName="password" [class.is-invalid]="getFieldValid('password')">
                    <small *ngIf="getFieldValid('password')" class="text-danger">
                        Ingrese su <strong>nueva</strong> contraseña
                    </small>
                </div>
                <div class="form-group">
                    <label for="password" class="col-form-label">Repita la nueva Contraseña</label>
                    <input type="password" class="form-control"  formControlName="password2" [class.is-invalid]="getFieldValid('password2')">
                    <small *ngIf="getFieldValid('password2')" class="text-danger">
                        Las contraseñas <strong>no coinciden</strong>
                    </small>
                </div>
              </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" (click)="changePassword()">Cambiar</button>
                <button type="button" class="btn btn-danger"  (click)="closeModal()">Cancelar</button>
            </div>
        </div>
        </div>
    </div>
</div>