<div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="card-title text-center"><strong>Nuevo Turno</strong></h2>
            <p>
                <span *ngIf="!fieldInParam"><strong>1-</strong> Seleccione la cancha. </span>
                <span><strong>{{fieldInParam? '1-' : '2-'}}</strong> Elija rango de fechas.  </span>
                <span><strong>{{fieldInParam? '2-' : '3-'}}</strong> Elija rango horario. </span>
            </p>
            <hr>
            <h2 class="card-title" *ngIf="fieldInParam"><strong>{{field.name}}</strong></h2>
            <h2 class="card-title" *ngIf="!fieldInParam && fieldSelected !== null"><strong>{{fieldSelected.text}}</strong></h2>
            <article class="filters mt-2" *ngIf="fieldInParam || fieldsCombo.length > 0">
                <div class="filters__items-container">
                    <div class="filters__items-container__item" *ngIf="!fieldInParam">
                        <!-- FILTER BUTTON -->
                        <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="fieldMenu">
                        <span class="filters__items-container__item__button__resume">Canchas</span>
                        <span class="filters__items-container__item__button__name">Canchas</span>
                        </button>
                            <!-- FILTER MENU -->
                        <mat-menu #fieldMenu="matMenu">
                        <!-- <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)"> -->
                        <div class="filters__items-container__item__menu">

                                    <!-- VALUES -->
                            <div class="filters__items-container__item__menu__boolean-container">
                                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" [(ngModel)]="fieldSelected" (change)="setFieldID()">
                                <mat-radio-button class="example-radio-button" *ngFor="let item of fieldsCombo" [value]="item">
                                    {{item.text}}
                                </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                                <!-- ACTIONS -->
                        <div class="filters__items-container__item__actions-container">
                            <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetFields()">Limpiar</button>
                            <!-- <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterEntryType()">Aplicar</button> -->
                        </div> 
                        </mat-menu>
                    </div>
                    <div class="filters__items-container__item" *ngIf="fieldSelected !== null || fieldInParam">
                        <!-- FILTER BUTTON -->
                        <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuDates">
                        <span class="filters__items-container__item__button__resume">Fecha</span>
                        <span class="filters__items-container__item__button__name">Fecha</span>
                        </button>
                                    <!-- FILTER MENU -->
                        <mat-menu #menuDates="matMenu">
                        <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                            <!-- VALUES -->
                            <div class="filters__items-container__item__menu__range-container">
                                <div class="filters__items-container__item__menu__range-container__header">
                                    <!-- <p class="filters__items-container__item__menu__range-container__header__title">Desde <br> ({{sinceDateSelected | date:"dd-MM-yyyy"}})</p> -->
                                    <!-- <p class="filters__items-container__item__menu__range-container__header__title">Hasta <br> ({{untilDateSelected | date:"dd-MM-yyyy"}})</p> -->
                                </div>
                                <!-- <mat-label>Fechas</mat-label> -->
                                <mat-form-field>
                                <mat-date-range-input [rangePicker]="picker" [formGroup]="dateRangeForm" [min]="minDate" [max]="maxDate" separator=" - " (click)="picker.open()">
                                    <input matStartDate formControlName="sinceDateSelected" placeholder="Desde">
                                    <input matEndDate formControlName="untilDateSelected" placeholder="Hasta">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- ACTIONS -->
                        <div class="filters__items-container__item__actions-container">
                            <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetDates()">Limpiar</button>
                            <!-- <button mat-button (click)="clearFilter(filter)" type="button"
                                class="filters__items-container__item__actions-container__button">Limpiar</button> -->
                            <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterDates()">Aplicar</button>
                        </div>
                        </mat-menu>
                    </div>
                    <div class="filters__items-container__item" *ngIf="fieldSelected !== null || fieldInParam">
                        <!-- FILTER BUTTON -->
                        <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuHours">
                        <span class="filters__items-container__item__button__resume">Horario</span>
                        <span class="filters__items-container__item__button__name">Horario</span>
                        </button>
                                    <!-- FILTER MENU -->
                        <mat-menu #menuHours="matMenu">
                        <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                <!-- VALUES -->
                            <div class="filters__items-container__item__menu__range-container">
                            <div class="filters__items-container__item__menu__range-container__header">
                                <p class="filters__items-container__item__menu__range-container__header__title">Desde ({{sinceHourSelected}})</p>
                            </div>
                                <mat-slider class="filters__items-container__item__menu__range-container__range"
                                    tickInterval="1"
                                    [(ngModel)]="sinceHourSelected" color="accent" [max]="untilHourSelected - 1" min="0" step="1" thumbLabel="true">
                                </mat-slider>
                            </div>
                            <div class="filters__items-container__item__menu__range-container">
                                <div class="filters__items-container__item__menu__range-container__header">
                                <p class="filters__items-container__item__menu__range-container__header__title">Hasta ({{untilHourSelected}})</p>
                                </div>
                                <mat-slider class="filters__items-container__item__menu__range-container__range" 
                                tickInterval="1"
                                [(ngModel)]="untilHourSelected" color="accent" max="23" [min]="sinceHourSelected + 1" step="1" thumbLabel="true"></mat-slider>
                            </div>
                        </div>
                                        <!-- ACTIONS -->
                        <div class="filters__items-container__item__actions-container">
                            <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetHour()">Limpiar</button>
                            <!-- <button mat-button (click)="clearFilter(filter)" type="button"
                                class="filters__items-container__item__actions-container__button">Limpiar</button> -->
                            <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="filterHour()">Aplicar</button>
                        </div>
                        </mat-menu>
                    </div>
                </div>
            </article>
            <div class="alert alert-danger animated fadeIn" role="alert" *ngIf="!fieldInParam && fieldsCombo.length === 0"> 
                <i class="fas fa-times"></i> No hay <strong>Canchas disponibles</strong> en el centro deportivo. <br>
              </div>
        </div>
    </div>
</div>
<hr>
<app-table-do-appointment *ngIf="searchON" [page]="page" [registerPerPage]="registerPerPage" [availableAppointments]="showAvailableAppointments" [field]="field" [searchON]="searchON"></app-table-do-appointment>
<div class="row" *ngIf="availableAppointments.length !==0 && totalPages > 1">
    <div class="col-md-12 text-center">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                <button class="page-link text-dark btn-paginator pointer" *ngIf="page !== 1" [disabled]="page === 1" (click)="paginate(1)"><i class="fas fa-backward"></i></button>
                </li>
                <li class="page-item" *ngIf="page !== 1" (click)="paginate(page - 1)"><a class="page-link pointer">{{page - 1 }}</a></li>
                <li class="page-item" [class.active]="page === page">
                <a class="page-link">{{page}}</a>
                </li>
                <li class="page-item" *ngIf="totalPages >= 2 && page !== totalPages" (click)="paginate(page + 1)"><a class="page-link pointer">{{page + 1}}</a></li>
                <li class="page-item" *ngIf="page !== totalPages">
                <button class="page-link text-dark btn-paginator pointer" [disabled]="page === totalPages" (click)="paginate(totalPages)"><i class="fas fa-forward"></i></button>
                </li>
            </ul>
    </div>
</div>