<div id="main-wrapper">
    <app-admin-navbar></app-admin-navbar>
    <app-sidebar></app-sidebar>
    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <router-outlet></router-outlet>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
<div class="button-box" style="display: none;">
    <button id="payment" class="tst2 btn btn-info"></button>
    <button id="debt" class="tst4 btn btn-warning"></button>
</div>