agm-map {
    height: 250px;
}
.tooltip-box{
    display: none;
    position: absolute;
    background-color: lightgray;
    line-height: 20px;
    z-index: 500;
    text-align: center;
    color: black;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    left: 3%;
    bottom: 100%;
    width: 300px;
  }
.map-disable{
    pointer-events: none
}
.content-tooltip:hover .tooltip-box{
  display: inline-block;
}
.a:hover{
  text-decoration: underline;
}