<div class="text-center">
    <h1 class="card-title"> <strong>{{sportCenter.name}}</strong>
    </h1>
    <h4 class="card-subtitle text-danger" *ngIf="sportCenter.deletedDate !== null"> <small>Dado de baja<i class="fas fa-exclamation-circle"></i></small></h4>
    <div class="row" *ngIf="userLogged.role === 'CENTER-SUPER-ADMIN'">
        <div class="col text-center">
            <a href="javascript:void(0)" *ngIf="!editMode" (click)="unlockForm()" class=" text-info"><i class="fas fa-edit fa-1x"></i><br><span class="mb-0">Editar</span></a>
        </div>
        <div class="col text-center">
            <a href="javascript:void(0)" *ngIf="!editMode" (click)="openServiceModal()" class=" text-info"><i class="fas fa-certificate"></i><br><span class="mb-0">Servicios</span></a>
        </div>
        <div class="col text-center">
            <a href="javascript:void(0)" *ngIf="!editMode" (click)="updateSchedule()" class="text-info"><i class="far fa-clock"></i><br><span class="mb-0">Horarios</span></a>
        </div>
        <div class="col text-center">
            <a href="javascript:void(0)" *ngIf="!editMode" (click)="openSpecialScheduleInfoModal()" class="text-info"><i class="far fa-calendar-plus"></i><br><span class="mb-0">Fecha Especial</span></a>
        </div>
    </div>
</div>
<div>
    <hr class="mb-1"> </div>
<div class="card-body">
    <form class="m-t-5 row p-0" [formGroup]="sportCenterForm" autocomplete="off">
        <div class="col-md-6 col-lg-6">
            <div class="row">
                <div class="form-group col-md-12 m-t-5 m-b-5" [class.has-danger]="getFieldValid('name')">
                    <label for=""><strong>Nombre</strong></label>
                    <input type="text" 
                        class="form-control form-control-line" 
                        placeholder="Ingrese un nombre"
                        formControlName="name"
                        [class.form-control-danger]="getFieldValid('name')">
                        <div class="form-control-feedback" *ngIf="getFieldValid('name')">*Ingrese el nombre</div>
                    </div>
                <div class="form-group col-md-12 m-t-5 m-b-5" [class.has-danger]="getFieldValid('phone')">
                    <label for=""><strong>Teléfono</strong><span class="font-13 text-muted" *ngIf="editMode"> (Ej: 3492658803)</span></label>
                    <input type="text" 
                        class="form-control form-control-line"
                        formControlName="phone"
                        placeholder="Ingrese un teléfono"
                        maxlength="13"
                        [class.form-control-danger]="getFieldValid('phone')">
                        <div class="form-control-feedback" *ngIf="getFieldValid('phone')">*Ingrese el teléfono (Máx. 13 caracteres)</div> 
                </div>
                <div class="form-group col-md-12 m-t-5 m-b-5">
                    <label for="aditionalElectricity" class="col-form-label mr-2"><strong>Cobro adicional luz</strong></label><br>
                    <mat-slide-toggle  color="primary" (change)="electricitySlideChange($event)" [checked]="slideElectricity" [disabled]="!editMode">
                      {{slideElectricity? 'SI': 'NO'}}
                    </mat-slide-toggle>
                    <div class="row">
                        <div class="form-group col-md-6 m-t-5 m-b-5" *ngIf="slideElectricity">
                            <label for="aditionalElectricity" class="col-form-label">Monto adicional</label>
                            <input type="number" class="form-control" formControlName="aditionalElectricity" [class.is-invalid]="getFieldValid('aditionalElectricity')">
                            <small *ngIf="getFieldValid('aditionalElectricity')" class="text-danger">
                                *Ingrese un <strong>monto</strong>.
                            </small>
                        </div>
                        <div class="form-group col-md-6 m-t-5 m-b-5" *ngIf="slideElectricity">
                            <label for="aditionalElectricityHour" class="col-form-label">Hora desde</label>
                            <input type="time" class="form-control"  formControlName="aditionalElectricityHour" [class.is-invalid]="getFieldValid('aditionalElectricityHour')">
                            <small *ngIf="getFieldValid('aditionalElectricityHour')" class="text-danger">
                                *Ingrese un <strong>horario</strong>.
                            </small>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="col-md-6 col-lg-6">
            <div class="row">
                <div class="form-group col-md-12 m-t-5 m-b-5">
                    <label for="">
                        <strong>Dirección </strong>
                        <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Indique la dirección y luego márquela en el mapa."></i>
                    </label>
                    <input type="text" 
                        class="form-control form-control-line m-b-5"
                        placeholder="Ingrese una dirección"
                        formControlName="address">
                    <div class="form-control-feedback" *ngIf="getFieldValid('address')">*Ingrese la dirección</div>
                    <div [ngClass]="{'map-disable': !editMode}">
                        <agm-map [latitude]="sportCenterForm.controls['latitude'].value" 
                                [longitude]="sportCenterForm.controls['longitude'].value" 
                                [zoom]="zoom" 
                                [mapTypeId]="mapTypeId"
                                [mapDraggable]="editMode"
                                (mapClick)="changeLocation($event)">
                            <agm-marker [latitude]="sportCenterForm.controls['latitude'].value" [longitude]="sportCenterForm.controls['longitude'].value">
                                <agm-info-window><strong>{{sportCenter.name}}</strong></agm-info-window>
                            </agm-marker>
                        </agm-map>
                    </div>
                    <div class="form-control-feedback" *ngIf="getFieldValid('latitude') || getFieldValid('longitude')">*Marque en el mapa la dirección</div>
                </div>
                
            </div>
        </div>
        <div class="col-md-8 col-lg-8">
            <div class="row">
                <div class="form-group col-md-12 m-t-5 m-b-5">
                    <label for="mercadoPago" class="col-form-label mr-2">
                        <strong>Cobro electrónico 
                            <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Solo se aceptarán mediante MercadoPago."></i>
                        </strong>
                        
                    </label> 
                    <mat-slide-toggle color="primary" (change)="mercadoPagoSlideChange($event)" [checked]="slideMercadoPago" [disabled]="!editMode">
                        {{this.slideMercadoPago? 'SI': 'NO'}}
                    </mat-slide-toggle>
                    <br>
                    <small><a href="../../../../assets/document/mercadopagoKey.pdf" *ngIf="slideMercadoPago && editMode" download="clavesMercadoPago">Obtener claves de Mercado Pago</a></small>
                </div>
                <div class="form-group col-md-4 m-t-5 m-b-5" *ngIf="slideMercadoPago">
                    <label for="aditionalElectricity" class="col-form-label">Access Token</label>
                    <div class="input-group">
                        <input type="password" class="form-control" formControlName="accessToken" [type]="accessTokenIsVisible ? 'text' : 'password'" [class.is-invalid]="getFieldValid('accessToken')">
                        <div class="input-group-addon pointer" (click)="showAccessToken()" *ngIf="userLogged.role === 'CENTER-SUPER-ADMIN' && editMode">
                            <i [ngClass]="(accessTokenIsVisible) ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </div>
                        <small *ngIf="getFieldValid('accessToken')" class="text-danger">
                            *Ingrese un <strong>Access Token</strong>.
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-4 m-t-5 m-b-5" *ngIf="slideMercadoPago">
                    <label for="aditionalElectricityHour" class="col-form-label">Public Key</label>
                    <div class="input-group">
                        <input type="password" class="form-control"  formControlName="publicKey" [type]="publicKeyIsVisible ? 'text' : 'password'" [class.is-invalid]="getFieldValid('publicKey')">
                        <div class="input-group-addon pointer" (click)="showPublicKey()" *ngIf="userLogged.role === 'CENTER-SUPER-ADMIN' && editMode">
                            <i [ngClass]="(publicKeyIsVisible) ? 'fa fa-eye-slash' : 'fa fa-eye'"></i>
                        </div>
                        <small *ngIf="getFieldValid('publicKey')" class="text-danger">
                            *Ingrese un <strong>Public Key</strong>.
                        </small>
                    </div>
                </div>
                <div class="form-group col-md-4 m-t-5 m-b-5" *ngIf="slideMercadoPago">
                    <label for="aditionalElectricityHour" class="col-form-label">Cancelación
                        <i class="fas fa-question-circle" data-toggle="tooltip" data-placement="top" title="Hora de anticipación máxima de cancelación de turno para no perder el dinero de pagos realizados."></i>
                    </label>
                    <div class="input-group" [class.has-danger]="getFieldValid('cancelationHour')">
                        <input type="number" class="form-control"  formControlName="cancelationHour"  [class.is-invalid]="getFieldValid('cancelationHour')">
                        <div class="input-group-addon">
                            HS
                        </div> 
                        <small *ngIf="getFieldValid('cancelationHour')" class="text-danger">
                            *Ingrese las <strong>horas </strong>para cancelación permitidas.
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-lg-4" *ngIf="slideMercadoPago">
            <div class="row">
                <div class="form-group col-md-12 m-t-5 m-b-5">
                    <label for="paymentRequired" class="col-form-label mr-2">
                        <strong>Pago obligatorio</strong>
                    </label> 
                    <mat-slide-toggle color="primary" (change)="paymentRequiredSlideChange($event)" [checked]="slidePaymentRequired" [disabled]="!editMode">
                        {{this.slidePaymentRequired? 'SI': 'NO'}}
                    </mat-slide-toggle>
                    <br>
                    <small class="a pointer" (click)="openPaymentRequiredModal()" style="color: #007bff;" *ngIf="slidePaymentRequired && editMode" data-toggle="tooltip" title="Al momento de realizar la reserva del turno, el usuario deberá pagar el % indicado.">¿Qué significa?</small>
                </div>
                <div class="form-group col-md-12 m-t-5 m-b-5" *ngIf="slidePaymentRequired">
                    <label for="minimunAmount" class="col-form-label">Porcentaje mínimo</label>
                    <div class="input-group" [class.has-danger]="getFieldValid('minimunAmount')">
                        <input type="number" class="form-control" formControlName="minimunAmount" [class.is-invalid]="getFieldValid('minimunAmount')">
                        <div class="input-group-addon">
                            %
                        </div> 
                        <small *ngIf="getFieldValid('minimunAmount')" class="text-danger">
                            *Ingrese un <strong>Porcentaje Mínimo</strong>. (0-100)
                        </small>                    
                    </div>
                </div>
            </div>
        </div>
        
        <div class="form-group col-md-12 m-t-5 m-b-5" >
            <label for="description" class="col-form-label"><strong>Imágenes:</strong> ({{sportCenter.images.length}})</label>
            <app-carousel-images [images]="sportCenter.images" [type]="'sportCenter'" [mode]="'update'" [editMode]="editMode" (deleteImage)="deleteImage($event)"></app-carousel-images>
            <app-image-drop-zone-modal *ngIf="editMode" (setImages)="setImages($event)"></app-image-drop-zone-modal>
        </div>
    </form>
    <div class="form-group col-md-12 text-center" style="margin-top: 5vh;" *ngIf="editMode">
        <button (click)="updateSportCenter()" class="btn btn-info mr-1" ><i class="fas fa-edit"></i> Modificar</button>
        <button (click)="cancel()" class="btn btn-danger"><i class="fas fa-times-circle"></i> Cancelar</button>
    </div>            
</div>
<app-line-loader></app-line-loader>
<app-sport-center-schedule-modal *ngIf="hiddenScheduleModal" [hiddenModal]="!hiddenScheduleModal" [mode]="'update'"
                                        [sportCenter]="sportCenter" [sportCenterID]="sportCenter.id"
                                    (closeModal)="closeScheduleModal()" (getSportCenter)="getSportCenter()">
</app-sport-center-schedule-modal>
<app-sport-center-service-modal *ngIf="hiddenServiceModal" [hiddenModal]="!hiddenServiceModal" 
                                [sportCenter]="sportCenter" (closeModal)="closeServiceModal()" (getSportCenter)="getSportCenter()">

</app-sport-center-service-modal>

<app-special-schedule-info-modal *ngIf="hiddenSpecialScheduleInfoModal" [hiddenModal]="!hiddenSpecialScheduleInfoModal" 
                                (closeModal)="closeSpecialScheduleInfoModal()" (openCreateModal)="openSpecialScheduleCreateModal()">
</app-special-schedule-info-modal>

<app-special-schedule-create-modal *ngIf="hiddenSpecialScheduleCreateModal" [hiddenModal]="!hiddenSpecialScheduleCreateModal" 
                                    (closeModal)="closeSpecialScheduleCreateModal()">
</app-special-schedule-create-modal>
<app-payment-required-info *ngIf="hiddenPaymentRequiredModal" [hiddenModal]="!hiddenPaymentRequiredModal"(closeModal)="closePaymentRequiredModal()"></app-payment-required-info>
<app-notification-toast (openDebtModal)="openDebtModal()" (openPaymentModal)="openNotPaymentModal()"></app-notification-toast>
<app-add-payment *ngIf="hiddenPaymentModal" [appointment]="appointmentSelected" [hiddenModal]="!hiddenPaymentModal" (closeModal)="closePaymentModal($event)"></app-add-payment>
<app-not-payment-table *ngIf="hiddenNotPaymentModal" [hiddenModal]="!hiddenNotPaymentModal" (openPaymentModal)="openPaymentModal($event)" (closeModal)="closeNotPaymentModal()"></app-not-payment-table>
<app-debt-table *ngIf="hiddenDebtModal" [hiddenModal]="!hiddenDebtModal" (closeModal)="closeDebtModal()"></app-debt-table>