<div>
  <div class="row">
      <div class="col-md-6">
          <h2 class="card-title"><strong>Preguntas frecuentes </strong></h2>
      </div>
  </div>
</div>
<hr>
<div class="card-body">
    <div id="accordion2" role="tablist" class="minimal-faq" aria-multiselectable="true">
        <div class="card m-b-0">
            <div class="card-header" role="tab" id="headingOne11">
                <h5 class="mb-0">
                <a class="link collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne11" aria-expanded="false" aria-controls="collapseOne11">
                  1. ¿Cómo reservar un turno?
                </a>
              </h5>
            </div>
            <div id="collapseOne11" class="collapse" role="tabpanel" aria-labelledby="headingOne11" styles="">
                <div class="card-body">
                  Para reservar un turno, es tan sencillo como buscar en <a href="/user/fields">canchas</a> y seleccionar la más adecuada a tus preferencias. Luego filtrar la fecha y horario y confirmar el turno. Recuerda que algunos centros deportivos exigen un pago por adelantado.</div>
            </div>
        </div>
        <div class="card m-b-0">
            <div class="card-header" role="tab" id="headingTwo22">
                <h5 class="mb-0">
                <a class="link collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo22" aria-expanded="false" aria-controls="collapseTwo22">
                  2. ¿Cómo realizar un pago?
                </a>
              </h5>
            </div>
            <div id="collapseTwo22" class="collapse" role="tabpanel" aria-labelledby="headingTwo22" styles="">
                <div class="card-body">
                  Al momento de confirmar un turno puede realizar el pago total o señar el turno, dependiendo de las especifiaciones del centro deportivo. Una vez realizada la confirmación de un turno, tambien puede realizar el pago, o completar el pago del turno. Los pagos se realizan mediante <a href="https://www.mercadopago.com.ar">MercadoPago</a>.
                </div>
            </div>
        </div>
        <div class="card m-b-0">
            <div class="card-header" role="tab" id="headingThree33">
                <h5 class="mb-0">
                <a class="collapsed link" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree33" aria-expanded="false" aria-controls="collapseThree33">
                  3. ¿Se pueden cancelar turnos reservados?
                </a>
              </h5>
            </div>
            <div id="collapseThree33" class="collapse" role="tabpanel" aria-labelledby="headingThree33">
                <div class="card-body">
                  Los turnos pueden ser cancelados con una anticipación de 12hs. En caso de tener realizado algún pago, deberá contactarse con el centro deportivo correspondiente para obtener el reembolso.
                </div>
            </div>
        </div>
        <div class="card m-b-0">
            <div class="card-header" role="tab" id="headingOne111">
                <h5 class="mb-0">
                <a class="link collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne111" aria-expanded="false" aria-controls="collapseOne111">
                  4. ¿Se puede cambiar la contraseña?
                </a>
              </h5>
            </div>
            <div id="collapseOne111" class="collapse" role="tabpanel" aria-labelledby="headingOne111">
                <div class="card-body">
                  La contraseña puede ser cambiada. Para realizar esto, debes: <br>
                  1- Ingresar a "Editar perfil", ubicado en la esquina superior derecha. <br>
                  2- Ingresar a "Contraseña". <br>
                  3- Completar los datos solicitados. <br>
                  Recuerda que necesitarás indicar la contraseña actual.
                </div>
            </div>
        </div>
        <div class="card m-b-0">
            <div class="card-header" role="tab" id="headingTwo222">
                <h5 class="mb-0">
                <a class="collapsed link" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo222" aria-expanded="false" aria-controls="collapseTwo222">
                  5. ¿Qué sucede si no asisto al turno?
                </a>
              </h5>
            </div>
            <div id="collapseTwo222" class="collapse" role="tabpanel" aria-labelledby="headingTwo222">
                <div class="card-body">
                  Si no asiste al turno, sin previa cancelación o aviso perderá el dinero pagado. Además quedará registrado en el sistema como infractor. <br>
                  Un usuario marcado como infractor puede llegar a recibir cancelaciones de turnos por parte de los centros deportivos.
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" role="tab" id="headingThree333">
                <h5 class="mb-0">
                <a class="collapsed link" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree333" aria-expanded="false" aria-controls="collapseThree333">
                  6. How to get yearly Support?
                </a>
              </h5>
            </div>
            <div id="collapseThree333" class="collapse" role="tabpanel" aria-labelledby="headingThree333">
                <div class="card-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
            </div>
        </div>
    </div>
</div>