::ng-deep .carousel-control-next{
    width: 2rem;
    height: 5.68rem;
    margin: 0 0 0 0;
    top: calc(50% - 2.84rem)
  }
  ::ng-deep .carousel-control-prev {
    width: 2rem;
    height: 5.68rem;
    margin: 0 0 0 0;
    top: calc(50% - 2.84rem)
  }
  
  .img-field{
    width: 250px;
    height: 250px;
    border: transparent;
  }
  .carousel-caption{
    width: 250px;
    height: 250px;
    top: 0;
    right: -10%;
    vertical-align: middle;
    align-items:center;
  }
  .first .carousel-control-prev
{
    display:none;
}
.last .carousel-control-next {
    display: none;
}