<section id="wrapper">
    <div class="login-register" style="background-image:url(./assets/images/background/login-register.jpg);">
        <div class="login-box card">
            <div class="card-body">
                <form class="form-horizontal form-material" [formGroup]="registerForm" (submit)="signUp()" >
                    <h3 class="box-title m-b-20 text-center">Registro</h3>
                    <div class="form-group" [class.has-danger]="getFieldValid('name')">
                        <input type="text" class="form-control" placeholder="Nombre" formControlName="name" [class.form-control-danger]="getFieldValid('name')">
                        <small *ngIf="getFieldValid('name')" class="text-danger">
                            *Ingrese el nombre
                        </small>
                    </div>
                    <div class="form-group" [class.has-danger]="getFieldValid('address')">
                        <input type="text" class="form-control" placeholder="Dirección" formControlName="address" [class.is-invalid]="getFieldValid('address')">
                        <small *ngIf="getFieldValid('address')" class="text-danger">
                            *Ingrese la dirección
                        </small>
                    </div>
                    <div class="form-group" [class.has-danger]="getFieldValid('phone')">
                        <input type="number" class="form-control" placeholder="Teléfono" formControlName="phone" [class.is-invalid]="getFieldValid('phone')">
                        <small *ngIf="getFieldValid('phone')" class="text-danger">
                            *Ingrese el teléfono
                        </small>
                    </div>
                    <div class="form-group" [class.has-danger]="getFieldValid('email')">
                        <input type="text" class="form-control" placeholder="Email" formControlName="email" [class.is-invalid]="getFieldValid('email')">
                        <small *ngIf="getFieldValid('email')" class="text-danger">
                            *Ingrese el email correctamente
                        </small>
                    </div>
                    <div class="form-group" [class.has-danger]="getFieldValid('password')">
                        <input type="password" class="form-control" placeholder="Contraseña" formControlName="password" [class.is-invalid]="getFieldValid('password')">
                        <small *ngIf="getFieldValid('password')" class="text-danger">
                            *Ingrese la contraseña
                        </small>
                    </div>
                    <div class="form-group" [class.has-danger]="getFieldValid('password2')">
                        <input type="password" class="form-control" placeholder="Repetir contraseña" formControlName="password2" [class.is-invalid]="getFieldValid('password2')">
                        <small *ngIf="pass2Valid" class="text-danger">
                            *Las contraseñas no coinciden
                        </small>                   
                    </div>
                    <div class="form-group text-center p-b-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block btn-rounded text-uppercase waves-effect waves-light" type="submit">Registrarse</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            ¿Ya tienes cuenta? <a [routerLink]="['/login']" class="text-info m-l-5"><b>Ingresar</b></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>