<div class="background-modal" [class.hidden]="hiddenModal">
    <div class="modal  show animated fadeIn fast" id="exampleModal" tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel1" aria-hidden="true" 
        style="display: block;" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel" *ngIf="mode === 'update'"><i class="far fa-clock fa-1x"></i> Actualizar Horarios</h4>
              <h4 class="modal-title" id="exampleModalLabel" *ngIf="mode === 'get'"><i class="far fa-clock fa-1x"></i> Horarios</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closedModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p  *ngIf="mode === 'update'" class="mb-2">Modifique los datos de los horarios.</p>
              <form [formGroup]="scheduleForm">
                <div class="form-group m-t-5" formArrayName="schedules">
                    <div class="alert alert-info" role="alert" *ngIf="schedules.length === 0">
                            No hay horarios
                    </div>
                    <div style="overflow-x: auto;">
                        <table class="table table-bordered table-sm">
                            <thead class="thead-dark" *ngIf="schedules.length !== 0">
                                <th scope="col" width="30%">Día</th>
                                <th scope="col">Hora Inicio</th>
                                <th scope="col">Hora Fin</th>
                                <th scope="col">Abierto</th>
                            </thead>
                            <tbody  *ngFor="let horario of schedules.controls; let i = index" [formGroupName]="i" >
                                        <td >
                                            <!-- <select formControlName="day"> 
                                                <option selected [ngValue]="null" hidden>Eliga</option>
                                                <option [value]="itemCombo.id" *ngFor="let itemCombo of scheduleCombo">{{itemCombo.text}}</option>
                                            </select> -->
                                            <input type="text" [value]="days[i]" disabled>
                                        </td>
                                    <td>
                                        <input type="time" name="" formControlName="openingHour" *ngIf="mode ==='update'">
                                        <input type="time" name="" formControlName="openingHour" *ngIf="mode ==='get'" [attr.disabled]="true">
                                    </td>
                                    <td>
                                        <input type="time" name="" formControlName="closingHour" *ngIf="mode ==='update'">
                                        <input type="time" name="" formControlName="closingHour" *ngIf="mode ==='get'" [attr.disabled]="true">
                                    </td>
                                    <td class="text-center">
                                      <mat-slide-toggle  color="primary" (change)="slideChange($event,i)" [checked]="openSlide[i]" *ngIf="mode ==='update'">
                                        {{openSlide[i]? 'SI': 'NO'}}
                                      </mat-slide-toggle>
                                      <mat-slide-toggle  color="primary" (change)="slideChange($event,i)" [checked]="openSlide[i]" *ngIf="mode ==='get'" [disabled]="true">
                                        {{openSlide[i]? 'SI': 'NO'}}
                                      </mat-slide-toggle>
                                    </td>                       
                            </tbody>
                            <tfoot *ngIf="getSchedulesValid()">
                              <td colspan="4">
                                <small class="text-danger">
                                  *La hora de <strong>inicio</strong> debe ser menor a la hora de <strong>fin</strong>.
                                </small>
                              </td>  
                          </tfoot>
                        </table>
                    </div>
                </div>
              </form>
            </div>
            <div class="modal-footer" *ngIf="mode === 'update'">
              <button type="button" class="btn btn-info" (click)="updateSchedule()" [hidden]="formsEquals">Modificar</button>
              <button type="button" class="btn btn-danger"  (click)="closedModal()">Cancelar</button>
            </div>
          </div>
        </div>
    </div>
</div>

<app-line-loader></app-line-loader>
