<div class="background-modal" [class.hidden]="hiddenModal" >
    <div class="modal  show animated fadeIn fast" id="exampleModal" tabindex="-1" role="dialog" 
        aria-labelledby="exampleModalLabel1" aria-hidden="true" 
        style="display: block; overflow-y: auto;" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 *ngIf="mode === 'create'" class="modal-title font-bold" id="exampleModalLabel">Crear Cancha</h4>
              <h4 *ngIf="mode === 'update'" class="modal-title font-bold" id="exampleModalLabel">Actualizar Cancha</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closedModal()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <p class="mb-2" *ngIf="mode === 'create'">Complete los datos de la cancha.</p>
                <p class="mb-2" *ngIf="mode === 'update'">Modifique los datos de la cancha.</p>
              <form [formGroup]="fieldForm">
                <div class="form-group mb-1">
                  <label for="name" class="col-form-label"><strong>Nombre:</strong></label>
                  <input type="text" class="form-control" id="name" formControlName="name" [class.is-invalid]="getFieldValid('name')">
                  <p class="text-danger" *ngIf="getFieldValid('name')">
                    *Ingrese el <strong>nombre</strong>.
                  </p>
                </div>
                <div class="form-group mb-1">
                    <label for="description" class="col-form-label"><strong>Descripción:</strong></label>
                    <input type="text" class="form-control" id="description" formControlName="description">
                </div>
                <div class="row">
                  <div class="form-group col-md-6 mb-1">
                      <label for="description" class="col-form-label"><strong>Dimensiones:</strong></label>
                      <input type="text" class="form-control" id="sizes" formControlName="sizes" placeholder="Largo-Ancho">
                  </div>
                  <div class="form-group col-md-6 mb-1">
                      <label for="description" class="col-form-label"><strong>Duración:</strong></label>
                      <input type="number" class="form-control" id="duration" formControlName="duration" placeholder="Minutos">
                  </div>
                  <div class="form-group col-md-6 mb-1">
                    <label for="description" class="col-form-label"><strong>Precio:</strong></label>
                    <input type="number" class="form-control" id="price" formControlName="price" placeholder="$" [class.is-invalid]="getFieldValid('name')">
                    <p class="text-danger" *ngIf="getFieldValid('price')">
                      *Ingrese el <strong>precio</strong>.
                    </p>
                  </div>
                  <div class="form-group col-md-6 m-l-0 mb-1">
                      <label for="description" class="col-form-label"><strong>Características:</strong></label>
                      <div class="filters__items-container__item">
                          <!-- FILTER BUTTON -->
                          <button class="filters__items-container__item__button pointer" [matMenuTriggerFor]="menuCat">
                              <span class="filters__items-container__item__button__resume">Seleccionar</span>
                              <span class="filters__items-container__item__button__name">Seleccionar</span>
                          </button>
                                      <!-- FILTER MENU -->
                          <mat-menu #menuCat="matMenu" (close)="setFeatures()">
                              <div class="filters__items-container__item__menu" (click)="doNotCloseMenu($event)">
                                              <!-- VALUES -->
                                  <div class="filters__items-container__item__menu__options-container">
                                  <div class="filters__items-container__item__menu__options-container__option" *ngFor="let item of featureCombo">
                                      <mat-checkbox  (change)="changeFeatureSelected($event,item)" #myCheckBoxFeature [checked]="fieldSelected !== null ? fieldSelected.features.includes(item.id): false">
                                          <span>{{item.text}}</span>
                                      </mat-checkbox>
                                  </div>
                                  </div>
                              </div>
                                          <!-- ACTIONS -->
                              <div class="filters__items-container__item__actions-container">
                                  <button mat-button type="button" class="filters__items-container__item__actions-container__button" (click)="resetFeatures()">Limpiar</button>
                                  <!-- <button mat-button color="primary" class="filters__items-container__item__actions-container__button" (click)="setFeatures()">Aplicar</button> -->
                              </div>
                          </mat-menu>
                      </div>
                  </div>
                </div>
                <div class="form-group mb-1">
                  <label *ngIf="fieldSelected !== null" for="description" class="col-form-label"><strong>Imágenes:</strong> ({{fieldSelected.images.length}})</label>
                  <label *ngIf="fieldSelected === null" for="description" class="col-form-label"><strong>Imágenes:</strong></label>  
                  <app-carousel-images *ngIf="fieldSelected !== null" [images]="fieldSelected.images" [type]="'field'" [mode]="'update'" (deleteImage)="deleteImage($event)"></app-carousel-images>
                  <app-image-drop-zone-modal (setImages)="setImages($event)"></app-image-drop-zone-modal>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button *ngIf="mode === 'create'" type="button" class="btn btn-info" (click)="createField()">Crear</button>
              <button *ngIf="mode === 'update'" type="button" class="btn btn-info" (click)="updateField()">Modificar</button>
              <button type="button" class="btn btn-danger"  (click)="closedModal()">Cancelar</button>
            </div>
          </div>
        </div>
    </div>
</div>
<app-line-loader></app-line-loader>
